<tr>
  <td>
    <% if current_user.is_admin? %>
      <%= link_to comp_tbl.name, rails_admin.edit_path(model_name: comp_tbl.item.model_name.name, id: comp_tbl.item.id) %>
    <% else %>
      <%= comp_tbl.name %>
    <% end %>
  </td>
  <td><%= comp_tbl.owner %></td>
  <td class="center-align">
    <%= number_with_delimiter(comp_tbl.loose_count, delimiter: ',') %>
  </td>
  <td class="center-align">
    <%= number_with_delimiter(comp_tbl.unopened_boxes_count, delimiter: ',') %>
  </td>
  <td class="center-align">
    <%= number_with_delimiter(comp_tbl.available, delimiter: ',') %>
  </td>
</tr>
