<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 count-parent" id="<%= 'count_' + count.id.to_s %>">
  <div class="count-div" style="background-image: url('<%= count.item.picture %>');">
    <div class="layer">
      <p class="count-title">
        <%= count.name %>
      </p>
      <p class="count-tech">
        <strong class="count-uid">
          <%= count.item.uid %>
        </strong>
        <br>
        <strong class="count-tech">
          For: <%= count.tech_names_short %>
        </strong>
      </p>

      <% if count.user_id == nil %>
        <% if count.partial_box %>
          <%= link_to "Loose Count", edit_inventory_count_path(@inventory, count), class: "btn empty fullwidth use-load-screen" %>
        <% elsif count.partial_loose %>
          <%= link_to "Box Count", edit_inventory_count_path(@inventory, count), class: "btn empty fullwidth use-load-screen" %>
        <% else %>
          <%= link_to @btn_text, edit_inventory_count_path(@inventory, count), class: "btn yellow fullwidth use-load-screen" %>
        <% end %>
      <% else %>
        <p class="current-count">
          <strong>Avail:</strong> <%= count.available %>
        </p>
        <%= link_to "Edit", edit_inventory_count_path(@inventory, count), class: "btn blue fullwidth use-load-screen" %>
      <% end %>
    </div>
  </div>
  <div class="count-filters">
    <p class="counted" title="<%= count.user_id.present? %>"></p>
    <p class="partial" title="<%= (count.partial_box || count.partial_loose) %>"></p>
    <p class="techs" title="<%= count.tech_ids %>"></p>
  </div>
</div>

