<tr>
  <td><%= count_tbl.name %></td>
  <td><%= count_tbl.tech_names_short %></td>
  <td><%= count_tbl.owner %></td>
  <td class="center-align"><%= number_with_delimiter(count_tbl.loose_count, delimiter: ',') %></td>
  <td class="center-align">
    <% if count_tbl.item.only_loose? %>
      -
    <% else %>
      <%= number_with_delimiter(count_tbl.unopened_boxes_count, delimiter: ',') %>
    <% end %>
  </td>
  <td class="center-align"><%= number_with_delimiter(count_tbl.box_count, delimiter: ',') %></td>
  <td class="center-align"><%= number_with_delimiter(count_tbl.available, delimiter: ',') %></td>
  <td class="center-align"><%= number_with_delimiter(count_tbl.total, delimiter: ',') %></td>
</tr>
