<tr>
  <td><%= count_tbl.name %></td>
  <td><%= count_tbl.tech_names %></td>
  <td class="center-align"><%= count_tbl.loose_count %></td>
  <td class="center-align"><%= count_tbl.unopened_boxes_count %></td>
  <td class="center-align"><%= count_tbl.item.quantity_per_box %></td>
  <td class="center-align"><%= count_tbl.box_count %></td>
  <td class="center-align"><%= count_tbl.available %></td>
  <td class="center-align"><%= count_tbl.total %></td>
</tr>
