<tr>
  <%= f.input :inventory_id, as: :hidden %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <td><%= f.object.name %></td>
  <td><%= f.input :loose_count, label: "Loose" %></td>
  <td><%= f.input :unopened_boxes_count, label: "Boxes" %></td>
</tr>
