<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 count-parent" id="<%= 'count_' + count.id.to_s %>">
  <div class="count-div" style="background-image: url('<%= count.item.picture %>');">
    <div class="layer">
      <p class="count-title">
        <%= count.name %>
      </p>
      <p class="count-tech">
        <strong class="count-uid">
          <%= count.item.uid %>
        </strong>
        <br>
        <strong class="count-tech">
          For: <%= count.tech_names_short %>
        </strong>
      </p>

      <% if count.user_id.present? %>
        <p class="current-count">
          <strong>Avail:</strong> <%= count.available %>
        </p>
      <% end %>

      <%= link_to count.link_text, edit_inventory_count_path(@inventory, count), remote: true, class: "btn #{count.link_class} fullwidth" %>
    </div>
  </div>
  <div class="count-filters">
    <p class="counted" title="<%= count.user_id.present? %>"></p>
    <p class="partial" title="<%= (count.partial_box || count.partial_loose) %>"></p>
    <p class="techs" title="<%= count.tech_ids %>"></p>
  </div>
</div>

