<table class="table">
  <thead>
    <tr>
      <th>Tech</th>
      <th>$ of each</th>
      <th># of completed items</th>
      <th>$ of completed items</th>
    </tr>
  </thead>
  <tbody>
    <% counts.each do |count| %>
      <tr>
        <td>
          <% if current_user.is_admin? %>
            <%= link_to count.name, rails_admin.edit_path(model_name: count.item.model_name.name, id: count.item.id) %>
          <% else %>
            <%= count.name %>
          <% end %>
        </td>
        <td class='right-align'>
          <%= humanized_money_with_symbol count.item.price %>
        </td>
        <td class="center-align">
          <%= number_with_delimiter count.available, delimiter: ',' %>
        </td>
        <td class="right-align">
          <%= humanized_money_with_symbol count.avail_value %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>