<% @technologies.each do |tech| %>
  <% counts_for_tech = @counts.find_all { |c| c.item.technologies.pluck(:id).include? tech.id } %>
  <% @counts_for_tech = Count.where(id: counts_for_tech.map(&:id)) %>
  <% @built_counts = @counts_for_tech.joins(:component).where('components.completed_tech = ?', true) %>
  <% @val_unbuilt = @counts_for_tech.where(component_id: nil).map(&:avail_value).sum %>
  <% @val_built = @built_counts.map(&:avail_value).sum %>
  <% @val_ttl = @val_built + @val_unbuilt %>
  <div class="row well">
    <div class="col-xs-12 col-sm-6">
      <h3>
        <%= tech.primary_component.name %>
      </h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render partial: 'financials_ttl_table', locals: { unbuilt: @val_unbuilt, built: @val_built, ttl: @val_ttl } %>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped datatable-paging" id="financials_technology_<%= tech.id.to_s %>">
    <%= render partial: 'financials_thead', locals: { scope: 'technologies' } %>
    <tbody>
      <% @counts_for_tech.each do |c| %>
      <tr>
        <td>
          <% if current_user.is_admin? %>
            <%= link_to c.name, rails_admin.edit_path(model_name: c.item.model_name.name, id: c.item.id) %>
          <% else %>
            <%= c.name %>
          <% end %>
        </td>
        <td>
          <%= c.owner %>
        </td>
        <td class="right-align">
          <%= humanized_money_with_symbol c.item.price %>
        </td>
        <td class="center-align">
          <%= number_with_delimiter c.available, delimiter: ',' %>
        </td>
        <td class="right-align">
          <%= humanized_money_with_symbol c.avail_value %>
        </td>
        <td class="center-align">
          <%= number_with_delimiter c.total, delimiter: ',' %>
        </td>
        <td class="right-align">
          <%= humanized_money_with_symbol c.ttl_value %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  <div class="row">
    <hr>
  </div>
<% end %>