<div class="inventory col-sm-3">
  <h4><%= inventory.name %></h4>
  <p><%= inventory.count_summary %></p>
  <p>
    <strong><%= if inventory.completed_at.present? then "FINALIZED" end %></strong> &nbsp;
  </p>
  <%= link_to "View", inventory_path(inventory), class: "btn yellow" %>
  <% if current_user.is_admin? %>
    <% if !inventory.completed_at.present? %>
      <%= link_to "Edit", edit_inventory_path(inventory), class: "btn blue" %>
    <% else %>
      <%= link_to "Unlock", edit_inventory_path(@latest, unlock: "true"), class: "btn blue" %>
    <% end %>
  <% end %>
</div>
