-# frozen_string_literal: true

%tr{ id: order_tbl.uid }
  %td.small-text
    - if current_user.is_admin?
      .clear-both
        .float-left
          = link_to order_tbl.uid_and_name, rails_admin.edit_path(model_name: order_tbl.model_name.name, id: order_tbl.id)
        .float-right
          = link_to order_tbl.order_url, target: '_blank', rel: 'noopener noreferrer' do
            = icon 'fas', 'external-link-alt'
          = link_to history_inventories_path(uid: order_tbl.uid), remote: true, data: { target: '#item_history_modal', toggle: 'modal' } do
            = icon('fas', 'calendar-day')
    - else
      = order_tbl.uid_and_name
  %td.small-text
    - if order_tbl.sku.present?
      - if order_tbl.order_url.present?
        = link_to order_tbl.sku, order_tbl.order_url, target: '_blank', rel: 'noopener noreferrer'
      - else
        = order_tbl.sku
  - if @locator == 'item'
    %td.item-supplier.small-text
      - if (supplier = order_tbl.supplier)
        .clear-both
          .float-left
            = link_to supplier.name, rails_admin.edit_path(model_name: supplier.model_name.name, id: supplier.id)
          - if supplier.url.present?
            .float-right
              = link_to supplier.url, target: '_blank', rel: 'noopener noreferrer' do
                = icon 'fas', 'external-link-alt'
  %td.center-align
    = human_float(order_tbl.weeks_to_deliver)
  %td.center-align
    = human_number(order_tbl.available_count)
  %td.center-align
    = human_number(order_tbl.goal_remainder)
  %td.item-cost.right-align
    $
    %span.item-cost-value= order_tbl.price
    %span
      = link_to price_inventories_path(uid: order_tbl.uid), remote: true, data: { target: '#item_price_modal', toggle: 'modal' } do
        = icon 'far', 'edit'
  %td.min-order
    = text_field_tag "#{@locator}_min_order_#{order_tbl.uid}", human_number(order_tbl.min_order), class: 'min-order-field right-align', min: 0
  %td.order-total.right-align
    $
    %span.order-total-amt= number_with_delimiter(order_tbl.reorder_total_cost, delimiter: ',')
  %td.order-check.center-align.small-text
    .clear-both
      .float-left
        = check_box_tag "checkbox_#{@locator}_#{order_tbl.uid}", 1, false, class: 'order_checkbox'
      .float-right
        = link_to '#', data: { item: order_tbl.uid, confirm: "Mark #{order_tbl.name} as ordered on today's date with current quantity?" }, class: 'update-ordered-btn' do
          = icon 'fas', 'save fa-2x'
    .order-language-div
      - if order_tbl.on_order?
        %br
        %i.order-language= order_tbl.order_language
