<% if !order_supplier.nil?  %>
  <% if order_supplier.is_a?(Array) %>
    <% @id = 0 %>
    <% @h2 = "Items without a supplier:" %>
    <% @supplier_counts = @no_supplier.dup %>
  <% else %>
    <% @id = order_supplier.id %>
    <% @h2 = order_supplier.name %>
    <% @supplier_counts = order_supplier.related_items(@order_counts) %>
  <% end %>

  <div class="row" id="order_supplier_row_<%= @id %>">
    <div class="col-xs-8">
      <h4><%= @h2 %></h4>
    </div>
    <% if @supplier_counts.count > 1 %>
      <div class="col-xs-4 right-align">
        <a href="#" class="btn blue btn-check" id="check_<%= @id %>">
          <%= fa_stacked_icon "check", base: "square-o" %> <span class="btn-text">this</span>
        </a>
        <a href="#" class="btn blue btn-check" id="uncheck_<%= @id %>">
          <%= fa_stacked_icon "square", base: "square-o" %> <span class="btn-text">this</span>
        </a>
      </div>
    <% end %>  
    <div class="col-xs-12">
      <table class="table table-striped table-bordered datatable-export" id="order_supplier_tbl_<%= @id %>">
      <thead>
        <%= render partial: "order_tbl_head" %>
      </thead>
      <tbody>
        <%= render partial: "order_tbl", collection: @supplier_counts %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>
  
