<tr>
  <td>
    <%= print_tbl.item.name %>
  </td>
  <td>
    <%= print_tbl.tech_names_short %>
  </td>
  <td>
    <%= text_field_tag 'Loose Count' %>
  </td>
  <td class="right-align">
    <%= number_with_delimiter print_tbl.loose_count, delimiter: ',' %>
  </td>
  <td>
    <%= text_field_tag 'Box Count' %>
  </td>
  <td class="right-align">
    <%= number_with_delimiter print_tbl.unopened_boxes_count, delimiter: ',' %>
  </td>
</tr>