<div id="inventory_edit" data-id='<%= @inventory.id %>'>
  <div class="row">
    <div class="col-xs-8">
      <h2>Edit <%= @inventory.name %></h2>
    </div>
    <div class="col-xs-4 match-h2">
      <%= link_to "Back", inventories_path, class: "btn yellow" %>
      <a id="show_finalize_form" class="btn blue" href="#">Finalize</a>
      <p class="right-align"><%= pluralize(@uncounted, "item") %> uncounted.</p>
    </div>
  </div>

  <div class="row spacer-bottom">

  </div>

  <div class="col-xs-12" id="finalize_form">
    <div class="row">
      <div class="col-sm-12 center-align">
        <h4>When all items have been counted and verified, click "Finalize Inventory" to mark the inventory complete, extrapolate parts from components, calculate values, and send notfications.</h4>
        <% if @uncounted > 0 %>
          <p>There are still <%= pluralize(@uncounted, "item") %> uncounted. Do you really want to proceed?</p>
        <% end %>
      </div>
      <div class="col-sm-12 center-align">
        <%= simple_form_for @inventory do |f| %>
          <%= f.input :completed_at, as: :hidden, input_html: { value: Time.now } %>
          <%= f.submit "Finalize Inventory", class: "btn yellow" %>
          <a id="hide_finalize_form" class="btn blue" href="#">Cancel</a>
        <% end %>
      </div>
    </div>
  </div>

  <div id="filter_div" class="col-xs-12 center">
    <div class="row">
      <p>Filters:</p>
      <button type="button" class="btn yellow count-btn" id="clear">Show All</button>
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn yellow count-btn" id="uncounted">Uncounted</button>
        <button type="button" class="btn yellow count-btn" id="partial">Partial</button>
        <button type="button" class="btn blue count-btn" id="counted">Counted</button>
      </div>

      <div class="btn-group btn-group-sm" role="group">
        <% @techs.each do |t| %>
          <button type="button" class="btn empty tech-btn" id="<%= 'tech_' + t.id.to_s %>"><%= t.short_name %></button>
        <% end %>
      </div>

      <div class="btn-group btn-group-sm">
        <input type="text" name="search" id="search" placeholder="Search...">
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn blue count-btn" id="calculator" data-toggle='modal' data-target="#calculator_modal">Calculator</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 center">
        <div class="col-xs-6 text-right">
          <p id="count_refresh_message">Live refresh is running...</p>
        </div>
        <div class="col-xs-6 text-left">
          <button type="button" class="btn yellow btn-sm" id="cancel_polling">Cancel</button>
          <button type="button" class="btn yellow btn-sm" id="start_polling" style="display: none;">Start</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" id="counts_div">
    <div class="row">
      <%= render partial: "count_container", collection: @counts %>
    </div>
  </div>

  <div class='modal fade' id='edit_count_modal' tab-index='-1' role='dialog'>
    <div class="modal-dialog" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body row" id='count_modal_body'>
          <p>Oops! Something broke.</p>
        </div>
      </div>
    </div>
  </div>


  <div class='modal fade' id='calculator_modal' tab-index='-1' role='dialog'>
    <div class="modal-dialog" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id='count_modal_body'>
          <div class="row">
            <%= render partial: 'shared/calculator'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


