<div class="container" id="inventory_financials">
  <div class="row">
    <%= render partial: 'shared/inventory_functions' %>
  </div>
  <div class="row">
    <div class="col center-align">
      <h3>Financial status of inventory (BETA VERSION, do not assume total accuracy)</h3>
    </div>
  </div>
  <div class="row center-align">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
      <h4>View by:</h4>
      <%= link_to 'All', financials_inventories_path, class: "btn yellow use-load-screen #{'hidden' if @scope.nil?}" %>
      <%= link_to 'Technology', financials_inventories_path(group: 'technology'), class: "btn yellow use-load-screen #{'hidden' if @scope == 'technology'}" %>
      <%= link_to 'Owner', financials_inventories_path(group: 'owner'), class: "btn yellow use-load-screen #{'hidden' if @scope == 'owner'}" %>
    </div>
    <div class="col-xs-12">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% case @scope %>
      <% when nil %>
        <%= render partial: "financials_all" %>
      <% when 'technology' %>
        <%= render partial: "financials_technology" %>
      <% when 'owner' %>
        <%= render partial: "financials_owner" %>
      <% end %>
    </div>
  </div>
</div>
