<div class="col-xs-12" id="inventory_index">
  <div class="inv-header row">
      <div class="btn-group col-xs-12" role="group">
        <div class="col-sm-4">
          <%= link_to "New Inventory", new_inventory_path(type: "manual"), class: "btn yellow"  %>
        </div>
        <div class="col-sm-4">
          <%= link_to "Receive Supplies", new_inventory_path(type: "receiving"), class: "btn blue" %>
        </div>
        <div class="col-sm-4">
          <%= link_to "Ship Supplies", new_inventory_path(type: "shipping"), class: "btn blue" %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  Latest Inventory:
  <br>
  <% if @latest.present? %>
    <%= @latest.name %> <br>
  <% end %>
  <br>
  <hr>
  Past Inventories:
  <br>
  <% if @former.present? %>
    <% @former.each do |former| %>
      <%= former.name %> <br>
    <% end %>
  <% end %>
</div>
