-# frozen_string_literal: true

#inventory_order
  #sticky.row
    .col-xs-12.col-sm-8
      %h2#title Order any item:
    .col-xs-12.col-sm-4.right-align.match-h2
      = link_to 'Only Low', order_inventories_path, class: 'btn empty use-load-screen'
      = link_to 'For Goal', order_goal_inventories_path, class: 'btn empty use-load-screen'
    = render partial: 'order_admin_div'
  .row.spacer-bottom.spacer-top.well
    = form_tag order_all_inventories_path, method: 'get', class: 'form-inline', enforce_utf8: false do
      .col-xs-12.col-sm-6.form-group
        %label{ for: 'tech' } Technology:
        = select_tag 'tech', options_for_select(@technologies_select, @selected_tech_id), { id: 'tech', class: 'form-control', include_blank: true }
      .col-xs-6.col-sm-3
        - if @selected_tech
          #{@selected_tech.name} (#{@selected_tech.short_name}): (#{@selected_tech.available_count} available; #{@selected_tech.default_goal - @selected_tech.available_count} remaining)
      .col-xs-6.col-sm-3.right-align.form-group
        = submit_tag 'Filter', class: 'btn yellow', name: nil
  #scrolling.row
    .col-xs-12
      %i Click on the arrow to open the item's order URL, click on the calendar to see the history.
      %br
      %i Click on the save icon to record the order quantity as ordered as of today.
    #order_item_div.col-xs-12
      - @locator = 'item'
      %table#order_item_tbl.table.table-striped.table-bordered.datatable-order-item
        %thead= render partial: 'order_tbl_head'
        %tbody= render partial: 'order_tbl', collection: @items
    #order_supplier_div.col-xs-12
      - @locator = 'supplier'
      = render partial: 'order_supplier', collection: @suppliers, locals: { items: @items }
      - if @items_w_no_supplier.any?
        = render partial: 'order_supplier', object: Supplier.new, locals: { items: @items_w_no_supplier }


#item_history_modal.modal.fade{ role: 'dialog', 'tab-index': '-1' }
  .modal-dialog.modal-lg{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
          %span{ 'aria-hidden': 'true' } ×
      #history_modal_body.modal-body.row
        %p Oops! Something broke.

#item_price_modal.modal.fade.in{ role: 'dialog', 'tab-index': '-1' }
  .modal-dialog.modal-lg{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
          %span{ 'aria-hidden': 'true' } ×
      #price_modal_body.modal-body.row
        %p Oops! Something broke.
