<div id="inventory_order">  
  <div class="row" id="sticky">
    <div class="col-xs-12">
      <h2><%= @low_counts.count %> items need to be ordered:</h2>
    </div>

    <div class="col-xs-12 admin-div">
      <div class="col-xs-6">
        <p class="title">
          Total: $<span id="item_ttl"><%= number_with_delimiter(@total_cost, delimiter: ",") %></span>&nbsp;<span id="supplier_ttl"><%= number_with_delimiter(@total_cost, delimiter: ",") %></span>
        </p>
      </div>
      <div class="col-xs-4 right-align">
        <%= link_to "By Item", "#", class: "btn yellow match-title", id: "item_btn" %>
        <%= link_to "By Supplier", "#", class: "btn yellow match-title", id: "supplier_btn" %>
      </div>
      <div class="col-xs-2 right-align">
        <a href="#" class="btn blue btn-check" id="check_all">
          <%= fa_stacked_icon "check", base: "square-o" %> <span class="btn-text">all</span>
        </a>
        <a href="#" class="btn blue btn-check" id="uncheck_all">
          <%= fa_stacked_icon "square", base: "square-o" %> <span class="btn-text">all</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row" id="scrolling">
    <div class="col-xs-12" id="order_item_div">
      <% @locator = "item" %>
      <table class="table table-striped table-bordered datatable-order-item" id="order_item_tbl">
        <thead>
          <%= render partial: "order_tbl_head" %>
        </thead>
        <tbody>
          <%= render partial: "order_tbl", collection: @low_counts %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12" id="order_supplier_div">
      <% @locator = "supplier" %>
      <%= render partial: "order_supplier", collection: @suppliers %>
      <%= render partial: "order_supplier", object: @no_supplier %>
    </div>
  </div>
</div>

