-# frozen_string_literal: true
#inventory_order
  #sticky.row
    .col-xs-12.col-sm-10
      %h2#title Order any item:
    .col-xs-12.col-sm-2.right-align.match-h2
      = link_to 'Only Low', order_inventories_path, class: 'btn empty use-load-screen'
    = render partial: 'order_admin_div'
  .row.spacer-bottom.spacer-top.well
    = form_tag order_all_inventories_path, method: 'get', class: 'form-inline', enforce_utf8: false do
      .col-xs-12.col-sm-4.form-group
        %label{ for: 'owner' } Owner:
        = select_tag 'owner', options_for_select(@owners_select, @selected_owner_acronym), { id: 'owner', class: 'form-control', include_blank: true }
      .col-xs-12.col-sm-4.form-group
        %label{ for: 'tech' } Technology:
        = select_tag 'tech', options_for_select(@technologies_select, @selected_tech_id), { id: 'tech', class: 'form-control', include_blank: true }
      .col-xs-12.col-sm-4.right-align.form-group
        = submit_tag 'Filter', class: 'btn yellow', name: nil
  #scrolling.row
    #order_item_div.col-xs-12
      - @locator = 'item'
      %table#order_item_tbl.table.table-striped.table-bordered.datatable-order-item
        %thead= render partial: 'order_tbl_head'
        %tbody= render partial: 'order_tbl', collection: @items
    #order_supplier_div.col-xs-12
      - @locator = 'supplier'
      = render partial: 'order_supplier', collection: @suppliers, locals: { items: @items }
      - if @items_w_no_supplier.any?
        = render partial: 'order_supplier', object: Supplier.new, locals: { items: @items_w_no_supplier }
