-# frozen_string_literal: true

#inventory_paper.container
  .col-xs-12
    %table#inv_paper_tbl.table
      %colgroup
        %col{ style: 'width: 40%;' }
        %col{ style: 'width: 15%;' }
        %col{ style: 'width: 10%;' }
        %col{ style: 'width: 15%;' }
        %col{ style: 'width: 10%;' }
        %col{ style: 'width: 10%;' }
      %thead
      %tbody
        - @items.each do |item|
          %tr
            %td.label-cell
              = render partial: 'labels/label', locals: { label: Label.new(item.label_hash) }
            %td.write-in
              %p Loose:
            %td.prev
              %p
                Previous:
              %br/
              %p
                = number_with_delimiter item.loose_count, delimiter: ','
            %td.write-in
              %p Box:
              - if item.only_loose?
                %br/
                %i Only Loose
            %td.prev
              %p Previous:
              %br/
              - if item.only_loose?
                %i Only Loose
              - else
                %p
                  = number_with_delimiter item.box_count, delimiter: ','
                  boxes
                %p
                  (#{number_with_delimiter item.quantity_per_box, delimiter: ','} per box)
            %td.total
              %p
                Total Available:
              %br/
              %p
                = number_with_delimiter item.available_count, delimiter: ','
