<div class="container" id="inventory_paper">
  <div class="col-xs-12">
    <table id="inv_paper_tbl" class='table'>
      <colgroup>
        <col style="width: 40%;">
        <col style="width: 15%;">
        <col style="width: 10%;">
        <col style="width: 15%;">
        <col style="width: 10%;">
        <col style="width: 10%;">
      </colgroup>
      <thead>
        <tr>
          <th style='text-align: center;' colspan="6">Based on: <%= @inventory.name %> Inventory</th>
        </tr>
      </thead>
      <tbody>
        <% @counts.each do |count| %>
          <tr>
            <td class='label-cell'>
              <%= render partial: 'shared/label', locals: { count: count } %>
            </td>
            <td class='write-in'>
              <p>Loose:</p>
            </td>
            <td class='prev'>
              <p>
                Previous:
              </p>
              <br />
              <p>
                <%= number_with_delimiter count.loose_count, delimiter: ',' %>
              </p>
            </td>
            <td class='write-in'>
              <p>Box:</p>
            </td>
            <td class='prev'>
              <p>Previous:</p>
              <br />
              <p>
                <%= number_with_delimiter count.unopened_boxes_count, delimiter: ',' %> boxes
              </p>
              <% if count.unopened_boxes_count.positive? %>
                <p>
                  (<%= number_with_delimiter count.box_count, delimiter: ',' %>)
                </p>
              <% end %>
              <td class='total'>
                <p>
                  Total Available:
                </p>
                <br />
                <p>
                  <%= number_with_delimiter count.available, delimiter: ',' %>
                </p>
              </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
