-# frozen_string_literal: true

#inventory_paper.col-xs-12
  .row.tech-chooser.well.no-print
    .col-sm-10.center-align
      %i Select technologies to filter list:
      .btn-group{ role: 'group' }
        - @tech_choices.each do |tech|
          .btn.btn-default.btn-sm
            = tech[1]
            = check_box_tag tech[0], 1, @techs&.pluck(:id)&.include?(tech[0]), { class: 'tech-checkbox' }
    .col-sm-2
      = form_tag paper_inventories_path, method: 'get', class: 'form-inline' do
        = hidden_field_tag 'techs', @techs&.pluck(:id).to_s.gsub(', ', ',').gsub('[', '').gsub(']', '')
        = submit_tag 'Filter', class: 'btn yellow btn-sm', name: nil, data: { disable_with: false }

  .row.no-print
    .col-xs-8
      %h4 Printable inventory
      %ul
        %li Print from Google Chrome
        %li Under "More Settings", set Margins to "None"
    .col-xs-4.right-align
      = link_to 'Back', '/admin', class: 'btn yellow'

  - @items.in_groups_of(8, false) do |batch|
    -# styles in labels.scss
    .inventory_paper
      .top-gutter
        %p.text-center 20 Liters Inventory (printed on #{human_date Date.today})
      - batch.each do |item|
        .left-gutter
        .item-line
          = render partial: 'label', locals: { label: Label.new(item.label_hash) }
        .right-gutter
      .bottom-gutter
