<div id="inventory_show">
  <div class="col-xs-8">
    <h2><%= @inventory.name %></h2>
  </div>
  <div class="col-xs-4 match-h2">
    <% if !@inventory.completed_at.present? %>
      <%= link_to "Edit", edit_inventory_path(@inventory), class: "btn yellow" %>
    <% else %>
      <% if current_user.is_admin? %>
        <%= link_to "Unlock", edit_inventory_path(@inventory, unlock: "true"), class: "btn yellow" %>
      <% end %>
    <% end %>
    <%= link_to "Back", inventories_path, class: "btn blue" %>
  </div>
  <% if @inventory.has_items_below_minimum? %>
    <div class="col-xs-12">
      <%= render partial: "low" %>
    </div>
  <% end %>
  <div class="col-xs-12 bar-above">
    <% if @inventory.type_for_params != "manual" %>
      <%= render partial: "diff" %>
    <% else %>
      <%= render partial: "comp" %>
    <% end %>
  </div>
  <div class="col-xs-12 bar-above">
    <h3>Full inventory:</h3>
  </div>
  <div class="col-xs-12">
    <table class="table table-striped datatable-paging" id="inventory_show_table">
      <thead>
        <tr>
          <th data-priority="1">Item</th>
          <th data-priority="2">For Tech</th>
          <th class="center-align">Loose Count</th>
          <th class="center-align">Unopened Boxes</th>
          <th class="center-align"># per box</th>
          <th class="center-align">Unopened Count</th>
          <th class="center-align" data-priority="2">Available Count</th>
          <th class="center-align" data-priority="2">Total Count</th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: "count_tbl", collection: @counts %>
      </tbody>
    </table>

  </div>
</div>
