<div class="container" id="inventory_show">
  <%= render partial: 'shared/inventory_functions' %>
  <div class="row">
    <div class="col-xs-6">
      <h2><%= @inventory.name %></h2>
    </div>
    <div class="col-xs-6 match-h2">
      <%= link_to 'Paper Version', paper_inventory_path(@inventory), class: 'btn blue', target: '_blank'  %>
      <% if @inventory.has_items_below_minimum? %>
        <%= link_to "Items Needed!", order_inventories_path(), class: "btn red" %>
      <% end %>

      <% if !@inventory.completed_at.present? %>
        <%= link_to "Edit", edit_inventory_path(@inventory), class: "btn yellow" %>
      <% else %>
        <% if current_user.is_admin? %>
          <%= link_to "Unlock", edit_inventory_path(@inventory, unlock: "true"), class: "btn yellow" %>
        <% end %>
      <% end %>

      <%= link_to "Back", inventories_path, class: "btn blue" %>
    </div>

    <div class="col-xs-12 bar-above">
      <% if @inventory.type_for_params != "manual" %>
        <%= render partial: "diff" %>
      <% else %>
        <%= render partial: "comp" %>
      <% end %>
    </div>

    <div class="col-xs-12 bar-above">
      <h3>Full inventory:</h3>
    </div>
    <div class="col-xs-12">
      <table class="table table-striped datatable-paging" id="inventory_show_table">
        <thead>
          <tr>
            <th data-priority="1">Item</th>
            <th data-priority="2">Owner</th>
            <th data-priority="2">For Tech</th>
            <th data-priority="2" class="center-align">Per Tech</th>
            <th class="center-align">Loose Count</th>
            <th class="center-align">Unopened Boxes</th>
            <th class="center-align">Unopened Count</th>
            <th class="center-align" data-priority="2">Available Count</th>
            <th class="center-align" data-priority="2">Total Count</th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: "count_tbl", collection: @counts %>
        </tbody>
      </table>

    </div>
  </div>
</div>
