-# frozen_string_literal: true
:ruby
  item = assembly.item
  item_type = assembly.item_type
  available = item.available_count
  highlight = 'color: red; font-weight: bolder; border: solid 2px red' if
    available < item&.minimum_on_hand ||
    item.available_count == 0

%tr
  - if nesting.positive?
    %td.no-bottom-border{ colspan: nesting }
  %td.right-align.left-border
    - if item_type == 'Component'
      = link_to item.uid, combination_path(item.uid)
    - else
      = item.uid
  %td{ colspan: 8 - nesting }
    = item.name
  %td
    - if item.image.attached?
      %img{ src: url_for(item.image), height: '60' }
  %td.right-align
    = humanized_money_with_symbol item.price
  %td.right-align
    = human_number assembly.quantity
  %td.right-align{ style: highlight }
    = human_number item.available_count
  %td.right-align
    = human_number item.can_be_produced

- if @show_sub_assemblies && item_type == 'Component' && item.sub_assemblies.any?
  = render partial: 'assembly', collection: item.sub_assemblies.ascending, locals: { nesting: nesting += 1 }

