-# frozen_string_literal: true
- price = humanized_money_with_symbol @combination.price
.container
  .row
    = form_tag prices_combination_path(@combination.uid), method: 'get', class: 'form-inline', enforce_uft8: false do
      .col-md-8
        %h3 #{ @combination.name } Price List (#{price} each):
        %p= "#{ humanized_money_with_symbol @combination.price * @quantity } for #{ @quantity }" if @quantity > 1
      .col-md-2.no-print.form-group
        = number_field_tag 'q', @quantity_val, { min: 0, step: 1, class: 'form-control', placeholder: 'Quantity' }
      .col-md-2.no-print.form-group
        = submit_tag 'Set Quantity', class: 'btn yellow', name: nil
  .row
    .col
      %table.table.table-bordered{ id: "price_item_tbl_#{@combination.id}" }
        %tbody
          %tr
            %th{ colspan: 5 } Components:
            %th Supplier
            %th.right-align $ ea
            %th.right-align # per
            %th.right-align $ per
            %th.right-align $ total
          -# Components
          = render partial: 'assembly', collection: @assemblies.where(item_type: 'Component').ascending, locals: { nesting: 0 }
          %tr
            %th{ colspan: 5 } Parts:
            %th Supplier
            %th.right-align $ ea
            %th.right-align # per
            %th.right-align $ per
            %th.right-align $ total
          -# Parts
          = render partial: 'assembly', collection: @assemblies.where(item_type: 'Part').ascending, locals: { nesting: 0 }
          -# Materials
  .row.no-print
    .col.right-align
      = link_to 'Back', combinations_path, class: 'btn blue'
