

<div class="whole" style="position: relative; min-height: 1px;float: left; width: 100%;">
  <div class="well" style="min-height: 20px; padding: 10px; margin: 10px 10px 10px 10px; background-color: #f5f5f5; border: 1px solid #e3e3e3; text-align: center;">
    <h3><%= @event.format_time_range %></h3>
    <p>
      <strong>Location:</strong> <br>
      <%= @location.name %> <br>
      <%= @location.address1 %> <br>
      <% if @location.address2 %>
        <%= @location.address2 %> <br>
      <% end %>
      <%= @location.city %>, <%= @location.state %>  <%= @location.zip %>
    </p>

    <% if @location.map_url %>
      <%= link_to "Map", @location.map_url, class: "btn yellow filled", target: "_blank", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
    <% end %>
  </div>
</div>
<div class="whole" style="position: relative; min-height: 1px; float: left; width: 100%; margin: auto 16px;">
  <p>
    <% if @event.location.instructions %>
      <strong>Instructions:</strong> <br>
      <%= @location.instructions %> <br>
    <% end %>
    <% if @event.description %>
      Additional Event Details <br>
      <%= @event.description %> <br>
    <% end %>
  </p>
  <p>
    <p style="margin-bottom: 6px;"><strong>What to expect:</strong></p>
    <ul style="margin-top: 6px;">
      <li>You'll receive a quick overview of the global water crisis and what we're doing about it as well as a demonstration of how to build filters.</li>
      <li>Come late or leave early as you need to</li>
      <li>
        Childcare is not provided
        <% if @event.technology.family_friendly %>
          , children as young as 4 can be involved in the build!
        <% else %>
          . Parents / Guardians should decide if their children are old enough to participate.
        <% end %>
      </li>
      <li>
        Gloves and tools will be provided
      </li>
    </ul>
    <p style="margin-bottom: 6px;"><strong>What to bring:</strong></p>
    <ul style="margin-top: 6px;">
      <li>A water bottle is a good idea</li>
      <li>Comfortable, close-toed shoes</li>
      <li>A desire to help the 383 million people without access to clean water</li>
    </ul>
  </p>
</div>
