<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
  <p>Hello <%= @recipient.fname %>,</p>

  <p>Thanks for registering to build filters with 20 Liters. We're glad you've signed up!</p>

  <% if !@registration.guests_registered.nil? && @registration.guests_registered > 0 %>
    <p>You registered to bring <%= pluralize(@registration.guests_registered, 'guest') %>. Please share this information with them.</p>
  <% end %>

  <p style="margin-bottom: 6px"><strong>Here are the details</strong></p>
  <div class="row" style="margin-left: -15px; margin-right: -15px;" >
    <%= render partial: 'details' %>
  </div>

  <div class="row" style="margin-top: 26px; margin-left: -15px; margin-right: -15px; ">
    <div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 50%; text-align: left;">
      <p><strong>Calendars:</strong> use the link to add this to your Google Calendar. Use the attached iCal for other calendar types.</p>
      <%= link_to "Add to my Google Calendar", url_for_registration_gcal, class: "btn yellow", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
    </div>
    <div class="whole" style="position: relative; min-height: 16px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: left;">
      <p><strong>Have a Question?</strong> Just reply to this email.</p>
    </div>

    <div class="whole" style="position: relative; min-height: 16px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: left;">
      <p><strong>Need to change or cancel your registration?</strong>, no worries, just follow this link.</p>
      <%= link_to "Change / Cancel my registration", edit_event_registration_url(@event, @registration, user_token: @recipient.authentication_token, user_email: @recipient.email ), class: "btn blue", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #9bb4c8; border-color: #91a0c8;" %>
    </div>
    <div class="whole" style="position: relative; min-height: 16px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: left; margin-top: 24px;">
      <% if @token %>
        <p><strong>If you plan to build often</strong>, you might want to save time by logging in. You can finish setting up your account here:</p>
        <%= link_to "Create my account", edit_password_url(@recipient, reset_password_token: @token), class: "btn yellow", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
      <% else %>
          <%= link_to "Go to make.20liters.org", "https://make.20liters.org", class: "btn yellow", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
      <% end %>
    </div>
  </div>
</div>





