<tr>
  <td><%= comm_tbl.fname %></td>
  <td><%= link_to comm_tbl.lname, rails_admin.edit_path(model_name: 'user', id: comm_tbl.id), class: "use-load-screen" %></td>
  <td><%= comm_tbl.email %></td>
  <td>
    <%= comm_tbl.latest_event %>
  </td>
  <td class="center"><%= check_box_tag "user_ids[]", comm_tbl.id, comm_tbl.email_opt_out %></td>
</tr>