<div class="container user-leaders">
  <% if current_user&.admin_or_leader? %>
    <%= render partial: 'shared/event_functions' %>
  <% end %>
  <div class="row spacer-top">
    <%= simple_form_for @contactor, method: :get, url: leaders_path do |f| %>
      <div class="col-sm-3">
        <h3>Email leaders with:</h3>
      </div>
      <div class="col-sm-3">
        <%= f.input :availability, collection: @availability, include_blank: false %>
      </div>
      <div class="col-sm-3">
        <%= f.input :technology, collection: @technologies, include_blank: false %>
      </div>
      <div class="col-sm-2 col-xs-6">
        <%= link_to "Copy #{ pluralize(@contact_size, 'Email') }", "#!", class: 'btn yellow inline-form-btn', id: 'contactor_email', data: { count: @contact_size } %>
        <%= f.button :submit, 'Filter', class: 'btn yellow inline-form-btn', id: 'contactor_submit' %>
      </div>
      <div class='col-sm-1 col-xs-6'>
        <% unless @contactor.empty? %>
          <%= link_to 'Reset', leaders_path, class: 'btn yellow inline-form-btn', id: 'contactor_reset' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= hidden_field_tag "contactor_email_list", @leaders.map(&:email).join(', ') %>
  <div class="row">
    <div class="col-xs-12">
      <h1>Leaders:</h1>
    </div>
    <div class="col-xs-12">
      <table class="datatable table table-striped table-bordered" id="leaders_tbl">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Availability</th>
            <th>Update Avail</th>
            <th>Qualified:</th>
            <% if current_user.is_admin? %>
              <th></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'leader', collection: @leaders %>
        </tbody>
      </table>
    </div>
  </div>
</div>
