<div class='col-xs-12 user-show'>
  <div class="event-container">
    <h2 class="heading"><%= @user.fname %> <%= @user.lname %></h2>
    <%= link_to("Edit", edit_user_path(@user), class: 'btn yellow user-edit') %>
  </div>

  <% if @user.is_leader %>
    <div class="qualifications-div">
      <h3>Qualifications</h3>
      <% if @user.technologies.size.zero? %>
        <p>Not currently qualified with any technologies.</p>
      <% else %>
        <ul>
          <% @user.technologies.each do |technology| %>
            <li><%= technology.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <h3>Events you're leading</h3>
    <% if @leading_events.length.positive? %>
      <div class="event-container">
        <%= render partial: 'events/event', collection: @leading_events %>
      </div>
    <% else %>
      <p>No upcoming events</p>
    <% end %>
  <% end %>

  <h3>Events you're attending</h3>
  <% if @attending_events.length.positive? %>
    <div class="event-container">
      <%= render partial: 'events/event', collection: @attending_events %>
    </div>
  <% else %>
    <p>No upcoming events</p>
  <% end %>

  <% if @user.is_leader %>
    <h3>Events you've lead</h3>
    <% if @lead_events.length.positive? %>
      <div class="event-container">
        <%= render partial: 'events/event', collection: @lead_events %>
      </div>
    <% else %>
      <p>No past events</p>
    <% end %>
  <% end %>

  <h3>Events you've attended</h3>
  <% if @attended_events.length.positive? %>
    <div class="event-container">
      <%= render partial: 'events/event', collection: @attended_events %>
    </div>
  <% else %>
    <p>No past events</p>
  <% end %>

</div>
