<div class='col-xs-12 user-show'>
  <div class="event-container">
    <h2 class="heading"><%= @user.fname %> <%= @user.lname %></h2>
    <% if @user.has_no_password  %>
      <%= link_to("Set your password!", edit_user_path(@user), class: 'btn yellow user-edit') %>
    <% else %>
      <%= link_to("Edit Your Information", edit_user_path(@user), class: 'btn yellow user-edit') %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12 emphasis-div">
      <h3>Stats</h3>
      <table class="table table-bordered">
        <colgroup>
          <col style="width: 50%">
          <col style="width: 50%">
        </colgroup>
        <tbody>
          <tr>
            <th>Volunteer hours:</th>
            <td>
              <%= human_float(@user.total_volunteer_hours, 2) %>
            </td>
          </tr>
          <tr>
            <th># of Registrations:</th>
            <td>
              <%= @user.registrations.size %>
            </td>
          </tr>
          <tr>
            <th># of Attendances:</th>
            <td>
              <%= @user.registrations.attended.size %>
            </td>
          </tr>
          <tr>
            <th># of Guests total:</th>
            <td>
              <%= @user.total_guests %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <% if @user.is_leader || @user.is_admin %>
    <div class="row">
      <div class="col-md-6 emphasis-div">
        <h3>Qualifications</h3>
        <% if @user.technologies.size.zero? %>
          <p>Not currently qualified with any technologies.</p>
        <% else %>
          <ul class="list-group">
            <% @user.techs_qualified.each do |tech| %>
              <li class="list-group-item"><%= tech %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-6 emphasis-div">
        <h3>Permissions</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <%= @user.is_leader ? icon('far', 'check-square') : icon('fa', 'square') %>
            Build Leader
          </li>
          <li class="list-group-item">
            <%= @user.does_inventory ? icon('far', 'check-square') : icon('far', 'square') %>
            Inventory Specialist
          </li>
          <li class="list-group-item">
            <%= @user.is_admin ? icon('far', 'check-square') : icon('far', 'square') %>
            Program Administrator
          </li>
          <li class="list-group-item">
            <%= @user.send_notification_emails ? icon('far', 'check-square') : icon('far', 'square') %>
            Filter Build Event Alerts
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12">
    <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
      <% if @user.is_leader? %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="leading">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLeading" aria-expanded="true" aria-controls="collapseLeading">
                <%= icon('fa', 'plus') %>
                <%= icon('fa', 'minus') %>
                Events you're leading
              </a>
            </h3>
          </div>
          <div id="collapseLeading" class="panel-collapse collapse" role="tabpanel" aria-labelledby="leading">
            <div class="panel-body">
              <% if @leading_events.length.positive? %>
                <div class="event-container">
                  <table class="table table-striped datatable-order-events-slim">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Tech</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render partial: 'events/event_tbl_slim', collection: @leading_events %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <p>No upcoming events</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="attending">
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttending" aria-expanded="true" aria-controls="collapseAttending">
              <%= icon('fa', 'plus') %>
              <%= icon('fa', 'minus') %>
              Events you're attending
            </a>
          </h3>
        </div>
        <div id="collapseAttending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="attending">
          <div class="panel-body">
            <% if @attending_events.length.positive? %>
              <div class="event-container">
                <table class="table table-striped datatable-order-events-slim">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Tech</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: 'events/event_tbl_slim', collection: @attending_events %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <p>No upcoming events</p>
            <% end %>
          </div>
        </div>
      </div>

      <% if @user.is_leader? %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="lead">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLead" aria-expanded="true" aria-controls="collapseLead">
                <%= icon('fa', 'plus') %>
                <%= icon('fa', 'minus') %>
                Events you've lead
              </a>
            </h3>
          </div>
          <div id="collapseLead" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lead">
            <div class="panel-body">
              <% if @lead_events.length.positive? %>
                <div class="event-container">
                  <table class="table table-striped datatable-order-events-slim">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Tech</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render partial: 'events/event_tbl_slim', collection: @lead_events %>
                    </tbody>
                  </table>
                </div>
              <% else %>
                <p>No past events</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="attended">
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttended" aria-expanded="true" aria-controls="collapseAttended">
              <%= icon('fa', 'plus') %>
              <%= icon('fa', 'minus') %>
              Events you've attended
            </a>
          </h3>
        </div>
        <div id="collapseAttended" class="panel-collapse collapse" role="tabpanel" aria-labelledby="attended">
          <div class="panel-body">
            <% if @attended_events.length.positive? %>
              <div class="event-container">
                <table class="table table-striped datatable-order-events-slim">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Tech</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render partial: 'events/event_tbl_slim', collection: @attended_events %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <p>No past events</p>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
