<% if @user.events %>
  <h3>Upcoming Events</h3>
  <div class="event-container">
    <%= render partial: 'events/event', collection: @future_events %>
  </div>
<% end %>
<% if @past_events.length > 0 %>
  <h3>Old Events</h3>
  <div class="event-container">
    <%= render partial: 'events/event', collection: @past_events %>
  </div>
<% end %>
<% if @user.is_leader %>
  <h3>Qualifications</h3>
  <% if !@user.technologies %>
    <p>Not currently qualified with any technologies.</p>
  <% else %>
    <ul>
      <% @user.technologies.each do |technology| %>
    		<li><%= technology.name %> - <%= technology.description %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to("Edit", edit_user_path(current_user)) %>
