<div class='col-xs-12 user-show'>
  <div class="event-container">
    <h2 class="heading"><%= @user.fname %> <%= @user.lname %></h2>
    <% if @user.has_no_password  %>
      <%= link_to("Set your password!", edit_user_path(@user), class: 'btn yellow user-edit') %>
    <% else %>
      <%= link_to("Edit", edit_user_path(@user), class: 'btn yellow user-edit') %>
    <% end %>
  </div>

  <% if @user.is_leader %>
    <div class="row">
      <div class="emphasis-div col-md-6">
        <h3>Qualifications</h3>
        <% if @user.technologies.size.zero? %>
          <p>Not currently qualified with any technologies.</p>
        <% else %>
          <ul class="list-group">
            <% @user.technologies.each do |technology| %>
              <li class="list-group-item"><%= technology.name %> (<%= technology.owner %>)</li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="emphasis-div col-md-6">
        <h3>Permissions</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <%= @user.is_leader ? fa_icon("check-square-o") : fa_icon("square-o") %>
            Build Leader
          </li>
          <li class="list-group-item">
            <%= @user.does_inventory ? fa_icon("check-square-o") : fa_icon("square-o") %>
            Inventory Specialist
          </li>
          <li class="list-group-item">
            <%= @user.is_admin ? fa_icon("check-square-o") : fa_icon("square-o") %>
            Program Administrator
          </li>
          <li class="list-group-item">
            <%= @user.send_notification_emails ? fa_icon("check-square-o") : fa_icon("square-o") %>
            New Event Alerts
          </li>
        </ul>
      </div>
    </div>

    <h3>Events you're leading</h3>
    <% if @leading_events.length.positive? %>
      <div class="event-container">
        <%= render partial: 'events/event', collection: @leading_events %>
      </div>
    <% else %>
      <p>No upcoming events</p>
    <% end %>
  <% end %>

  <h3>Events you're attending</h3>
  <% if @attending_events.length.positive? %>
    <div class="event-container">
      <%= render partial: 'events/event', collection: @attending_events %>
    </div>
  <% else %>
    <p>No upcoming events</p>
  <% end %>

  <% if @user.is_leader %>
    <h3>Events you've lead</h3>
    <% if @lead_events.length.positive? %>
      <div class="event-container">
        <%= render partial: 'events/event', collection: @lead_events %>
      </div>
    <% else %>
      <p>No past events</p>
    <% end %>
  <% end %>

  <h3>Events you've attended</h3>
  <% if @attended_events.length.positive? %>
    <div class="event-container">
      <%= render partial: 'events/event', collection: @attended_events %>
    </div>
  <% else %>
    <p>No past events</p>
  <% end %>

</div>
