<%= simple_form_for [@event, @registration] do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :form_source, value: "admin" %>
  <%= f.hidden_field :event_id %>
  <%= simple_fields_for :user do |o| %>
    <%= o.input :fname, label: 'First Name' %>
    <%= o.input :lname, label: 'Last Name' %>
    <%= o.input :email, label: 'Email' %>
    <%= o.input :phone, label: 'Phone', required: false %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.check_box :leader %>
        <%= f.label :leader, 'Register as Leader?' %>
      </div>
      <div class="col-xs-6">
        <%= o.check_box :email_opt_out %>
        <%= o.label :email_opt_out, "Opt out of emails?" %>
      </div>
    </div>
    <p>Room for <%= pluralize(@event.registrations_remaining - 1, 'more guest') %></p>
    <%= f.input :guests_registered, label: 'Guests', input_html: { min: 0, max: @event.registrations_remaining - 1 } %>
    <%= f.input :accommodations, label: 'Notes', as: :text %>
    <%= f.hidden_field :waiver_accepted, value: '1' %>
  <% end %>
  <%= f.button :submit, class: 'btn yellow fullwidth' %>
  <%= f.button :submit, name: "commit_and_new", value: "Create & New", class: 'btn yellow fullwidth' %>
<% end %>
