<div class="col-xs-12 col-md-6 col-md-offset-3">
  <h2><%= @event.full_title %></h2>
  <hr>
  <h3><%= @user.name %></h3>
  <h4>You registered on <%= @registration.created_at.strftime("%-m/%-d/%Y") %></h4>
  <%= simple_form_for(@registration, url: event_registration_path(@event, @registration), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-sm-6">
          <%= f.simple_fields_for @user do |u| %>
            <%= u.input :email_opt_out, inline_label: 'Opt out of emails?' %>
          <% end %>
        </div>
        <% if @user.can_lead_event?(@registration.event) %>
          <div class="col-sm-6">
            <%= f.input :leader, inline_label: 'Register as Leader' %>
          </div>
        <% end %>
      </div>
      <%= f.input :guests_registered, required: true, autofocus: true, label: "Additional Guests" %>
      <%= f.input :accommodations, autofocus: true, as: :text, label: 'Notes' %>
    </div>

    <div class="form-actions">

      <% if @btn_admin %>
        <%= f.hidden_field :form_source, value: "admin" %>
        <%= f.button :submit, "Update", class: 'btn yellow fullwidth' %>
        <%= link_to 'Cancel Registration', event_registration_path(@registration.event, @registration, admin: true),
            data: {:confirm => 'Are you sure?'},
            :method => :delete,
            class: 'btn red fullwidth' %>
      <% else %>
        <%= f.button :submit, "Update", class: 'btn yellow fullwidth' %>
        <%= link_to 'Cancel Registration', event_registration_path(@registration.event, @registration),
            data: {:confirm => 'Are you sure?'},
            :method => :delete,
            class: 'btn red fullwidth' %>
      <% end %>
    </div>
  <% end %>

  <br>
  <%= link_to "Back", :back, class: "btn blue fullwidth" %>
</div>
