-# frozen_string_literal: true

.col-xs-12.col-md-6.col-md-offset-3
  %h2= @event.full_title
  %hr/
  %h3= @user.name
  %h4
    You registered on #{@registration.created_at.strftime('%-m/%-d/%Y')}
  = simple_form_for [@event, @registration] do |f|
    = f.error_notification
    - if @btn_admin
      = f.hidden_field :form_source, value: 'admin'
    .form-inputs
      = f.simple_fields_for @user do |u|
        = u.input :email_opt_out, inline_label: 'Opt out of emails?'
      = f.input :guests_registered, required: true, autofocus: true, label: 'Additional Guests'
      = f.input :accommodations, autofocus: true, as: :text, label: 'Notes'
    .form-actions
      = f.button :submit, 'Update', class: 'btn yellow fullwidth'
      = link_to 'Cancel Registration', event_registration_path(@registration.event, @registration, admin: true), data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn red fullwidth'
  %br/
  = link_to 'Back', :back, class: 'btn blue fullwidth'
