-# frozen_string_literal: true

.container.registrations-index
  .row
    .col-sm-9
      = link_to 'Print Sign-in Sheet', attendance_event_path(@event), class: 'btn btn-sm blue'
      = link_to 'Register Builder', new_event_registration_path(@event), class: 'btn btn-sm yellow'
      = link_to 'Register Leader', leaders_event_path(@event), class: 'btn btn-sm blue'
      - if @registrations.kept.count.positive?
        - if @event.in_the_future?
          = link_to 'Resend All Confirmations', reconfirms_event_registrations_path(@event), class: 'btn btn-sm empty', data: { confirm: 'Are you sure you want to resend ALL email confirmations?' }
        = link_to 'Send Message', messenger_event_registrations_path(@event), class: 'btn btn-sm empty'
    .col-sm-3.right-align
      = link_to 'Show Event', event_path(@event), class: 'btn btn-sm yellow'
      = link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-sm empty'
  .row
    .col-xs-12
      %h1.center-align #{@event.full_title} Registrations
      - if @event.is_private
        %h4.center-align Private Event
    - if @leaders.any?
      .col-xs-12
        %h3 Leaders registered:
        %table#leaders_tbl.datatable-slim.table.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Email
              %th Registered at
              %th Guests
              %th
          %tbody= render partial: 'registration', collection: @leaders
    - else
      .col-xs-12
        %h3
          No leaders registered.
          %span= link_to 'Register Leader', leaders_event_path(@event), class: 'btn blue'
    - if @registrations.any?
      .col-xs-12
        %h3 Builders registered:
        %table#builders_tbl.datatable.table.table-striped.table-bordered
          %thead
            %tr
              %th Name
              %th Email
              %th Registered at
              %th Guests
              %th
          %tbody= render partial: 'registration', collection: @registrations
    - else
      .col-xs-12
        %h3 No registrations found.

    - if @discarded_registrations.any?
      .col-xs-12
        %h3
          Discarded registrations:
          %span
            = link_to 'Restore All', restore_all_event_registrations_path(@event), class: 'btn blue'
        %table#discarded_tbl.datatable-slim.table.table-striped.table-bordered
          %thead
            %tr
              %th Name & role
              %th Email
              %th Registered at
              %th Guests
              %th
          %tbody= render partial: 'registration', collection: @discarded_registrations
