-# frozen_string_literal: true
.col-xs-12
  = link_to 'Back to Registration List', event_registrations_path(@event), class: 'btn btn-sm yellow'

.col-xs-12.center
  %h1
    Register someone for #{@event.full_title}
  - if @event.is_private
    %h4.center-align Private Event
  %h4
    = @event.total_registered
    \/ #{@event.max_registrations} registered.
  %p
    - if @event.total_registered.zero?
      - if @event.registrations_remaining.positive?
        Room for #{pluralize(@event.registrations_remaining, 'more person')}.
      - else
        %strong Event is full. No more room for additional guests.
.col-xs-12.col-md-6.col-md-offset-3
  = link_to 'Click here to register leaders', leaders_event_path(@event), class: 'btn fullwidth yellow'
  %h4 If the builder already exists, just enter their email.
  = simple_form_for [@event, @registration] do |f|
    = f.error_notification
    = f.hidden_field :form_source, value: 'admin'
    = f.hidden_field :event_id
    = f.simple_fields_for :user do |o|
      = o.input :fname, required: false
      = o.input :lname, required: false
      = o.input :email
      = o.input :phone, required: false
      = o.check_box :email_opt_out
      = o.label :email_opt_out, 'Opt out of emails?'
      - if @event.registrations_filled?
        %p This registration will automatically increase the event's max attendance
      - else
        %p
          Room for #{pluralize(@event.registrations_remaining - 1, 'more guest')} without increasing max attendance.
          %br>/
          Max attendance will be updated automatically if necessary.
      = f.input :guests_registered, label: 'Guests', input_html: { min: 0, max: @event.registrations_remaining - 1 }
      = f.input :accommodations, label: 'Notes', as: :text
    = f.button :submit, class: 'btn yellow fullwidth'
    = f.button :submit, name: 'commit_and_new', value: 'Create & New', class: 'btn yellow fullwidth'
