-# frozen_string_literal: true

.col-xs-12.center.admin-div
  %button#hide_admin.close{ type: 'button' }
    %span{ 'aria-hidden' => 'true' } ×
  %p Available functions:
  = link_to 'New Inventory', new_inventory_path(type: 'manual'), class: 'btn yellow use-load-screen'
  = link_to 'Receive Supplies', new_inventory_path(type: 'receiving'), class: 'btn blue use-load-screen'
  = link_to 'Ship Supplies', new_inventory_path(type: 'shipping'), class: 'btn blue use-load-screen'
  = link_to 'Print Inventory', paper_inventories_path, class: 'btn yellow', target: '_blank'
  = link_to 'Print Labels', labels_path, class: 'btn yellow', target: '_blank'
  = link_to 'Order Items', order_all_inventories_path, class: 'btn empty use-load-screen'
  = link_to('Items Below Minimum', order_inventories_path, class: 'btn blue use-load-screen') if @below_minimum
