<table class='item-label'>
  <tr>
    <td class='td-img' rowspan='5'>
      <img src='<%= count.item.picture %>'>
    </td>
    <td class="td-name" colspan='2'>
      <p>
        <%= count.item.name %>
      </p>
    </td>
  </tr>
  <tr>
    <td class="td-desc" colspan="2">
      <p>
        <%= count.item.description %>
      </p>
    </td>
  </tr>
  <tr>
    <td class='right-border'>
      <p class='bold'>
        UID
      </p>
    </td>
    <td>
      <p class='bold'>
        <%= count.item.uid %>
      </p>
    </td>
  </tr>
  <tr>
    <td class='right-border'>
      <p>
        Tech
      </p>
    </td>
    <td class="td-tech-names">
      <p <%= 'class=tiny' if count.tech_names_short.include? ',' %>>
        <%= count.tech_names_short %>
      </p>
    </td>
  </tr>
  <tr>
    <td class="right-border">
      <p>
        Qty/box
      </p>
    </td>
    <td>
      <p>
        <% unless count.item.only_loose? %>
          <%= number_with_delimiter(count.item.quantity_per_box) %>
        <% end %>
      </p>
    </td>
  </tr>
</table>