<%= simple_form_for [@event, @registration] do |f| %>
  <%= f.hidden_field :event_id %>
  <%= simple_fields_for :user do |o| %>
    <%= o.input :fname, label: 'First Name' %>
    <%= o.input :lname, label: 'Last Name' %>
    <%= o.input :email, label: 'Email' %>
    <%= f.input :guests_registered, label: 'Additional Guests (excluding you)' %>
    <div>
      <a target="_blank" href="/waiver"><%= f.label :waiver_accepted, 'Accept the Liability Waiver' %></a>
      <%= f.check_box :waiver_accepted %>
    </div>
  <% end %>
  <%= f.submit 'Register', class: 'btn twentyliters yellow' %>
<% end %>
