<div class="event" id="event_<%= event.id %>">
  <% if event.you_are_attendee(@user).present? || event.you_are_leader(@user).present? %>
    <%= image_tag "registered_badge.png", size: "80x80", class: "registered-badge" %>
  <% end %>
  <%= link_to event_path(event), class: "use-load-screen" do %>
    <div class="top-part-wrapper">
      <div>
        <span class="location">Hosted by <%= event.location.name %></span>
      </div>
      <h2 class="date"><%= event.format_date_only %></h2>
      <h3 class="time"><%= event.format_time_only %></h3>
      <h3 class="title"><%= event.title %></h3>
      <div class='family-friendly'>
        <% if event.technology %>
          <% if event.technology.family_friendly %>
            <i>Family Friendly</i>
          <% else %>
            <i>Ages 12+</i>
          <% end %>
        <% else %>
          <i>Age restrictions may apply</i>
        <% end %>
      </div>

      <button class="btn btn-primary empty learn-more">Learn More</button>
    </div>

    <div class="bar-outer-wrapper <%= 'is_leader' if current_user&.is_leader %>">
      <div class="bar-inner-wrapper">
        <div class="bar">
          <%= event.total_registered %> of <%= event.max_registrations %> Registered<%= event.you_are_attendee(@user) %>.
        </div>

        <% if current_user&.is_leader %>
          <% if event.does_not_need_leaders? %>
            <div class="bar blue">
          <% elsif event.really_needs_leaders? %>
            <div class="bar red">
          <% elsif event.needs_leaders? %>
            <div class="bar yellow">
          <% end %>

            <%= event.leaders_registered.count %> of <%= event.max_leaders %> Leaders Registered<%= event.you_are_leader(@user) %>.

          </div>
        <% end %>

        <% if event.is_private %>
          <div class="bar blue">This event is private</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
