<tr>
  <td>
    <%= link_to event_tbl.title, edit_event_path(event_tbl) %>
    <% if event_tbl.needs_report? %>
      <span style="font-style: italic;">(no report)</span>
    <% end %>
  </td>
  <td data-sort='<%= event_tbl.start_time.strftime("%Y%m%d%H%M%s") %>'>
    <%= event_tbl.format_time_range %>
  </td>
  <td>
    <%= event_tbl.technology.short_name %>
  </td>
  <td style="text-align: right">
    <% unless event_tbl.needs_report? %>
      <%= number_with_delimiter(event_tbl.technologies_built, delimiter: ',') %>
    <% end %>
  </td>
  <td style="text-align: right">
    <% unless event_tbl.needs_report? %>
      <%= number_with_delimiter(event_tbl.boxes_packed, delimiter: ',') %>
    <% end %>
  </td>
  <td style="text-align: right">
    <% unless event_tbl.needs_report? %>
      <%= number_with_delimiter(event_tbl.leaders_attended, delimiter: ',') %>
    <% end %>
  </td>
  <td style="text-align: right">
    <% unless event_tbl.needs_report? %>
      <%= number_with_delimiter(event_tbl.builders_attended, delimiter: ',') %>
    <% end %>
  </td>
  <td style="text-align: right">
    <% unless event_tbl.needs_report? %>
      <%= human_float(event_tbl.volunteer_hours, 2) %>
    <% end %>
  </td>
</tr>
