<% use_edit_link ||= false %>
<% no_date ||= false %>
<% disabled = event.registrations_filled? && !current_user&.admin_or_leader? && !current_user&.registered?(event) %>
<div class="event <%= 'disabled' if disabled %>" id="event_<%= event.id %>">
  <% if event.you_are_attendee(@user).present? || event.you_are_leader(@user).present? %>
    <%= image_tag "registered_badge.png", size: "80x80", class: "registered-badge" %>
  <% end %>
  <%= link_to (use_edit_link ? edit_event_path(event) : event_path(event)), class: "use-load-screen #{'prevent_default' if disabled}" do %>
    <div class="top-part-wrapper">
      <div>
        <span class="location">Hosted by <%= event.location.name %></span>
      </div>
      <h2 class="date"><%= event.format_date_only %></h2>
      <h3 class="time"><%= event.format_time_only %></h3>
      <h3 class="title"><%= event.title %></h3>
      <div class='family-friendly'>
        <% if event.technology %>
          <% if event.technology.family_friendly %>
            <i>Family Friendly</i>
          <% else %>
            <i>Ages 12+</i>
          <% end %>
        <% else %>
          <i>Age restrictions may apply</i>
        <% end %>
      </div>

      <% if event.registrations_filled? %>
        <div class="bar red event-full">
          <h4>EVENT IS FULL</h4>
        </div>
      <% else %>
        <button class="btn btn-primary empty learn-more">Learn More</button>
      <% end %>
    </div>

    <div class="bar-outer-wrapper <%= 'is_leader' if current_user&.is_leader %>">
      <div class="bar-inner-wrapper">
        <div class="bar">
          <%= event.total_registered %> of <%= event.max_registrations %> Registered<%= event.you_are_attendee(@user) %>.
        </div>
        <% if current_user&.admin_or_leader? %>
          <% if event.does_not_need_leaders? %>
            <div class="bar blue">
          <% elsif event.really_needs_leaders? %>
            <div class="bar red">
          <% elsif event.needs_leaders? %>
            <div class="bar yellow">
          <% end %>

            <%= event.leaders_registered.count %> of <%= event.max_leaders %> Leaders Registered<%= event.you_are_leader(@user) %>.

          </div>
        <% end %>

        <% if event.is_private %>
          <div class="bar blue">Private event for <%= event.contact_name %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
