<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 event-form'>
  <%= simple_form_for @event do |f| %>
    <%= f.input :title %>
    <%= f.association :location %>
    <div class='row'>
      <div class='col-sm-6'>
        <%= f.input :start_time, as: :string, input_html: {class: 'datetimepicker', :value => time_for_form(f.object.start_time) } %>
      </div>
      <div class='col-sm-6'>
        <%= f.input :end_time, as: :string, input_html: {class: 'datetimepicker', :value => time_for_form(f.object.end_time) } %>
      </div>
    </div>
    <%= f.input :description, as: :text, input_html: {rows: 5}  %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :technology %>
      </div>
      <div class='col-sm-6'>
        <%= f.input :item_goal %>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
        <%= f.input :min_leaders, label: 'Min. Leaders' %>
      </div>
      <div class='col-sm-6'>
        <%= f.input :max_leaders, label: 'Max. Leaders' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
    <%= f.input :min_registrations, label: 'Min. Builders' %>
    </div>
    <div class='col-sm-6'>
    <%= f.input :max_registrations, label: 'Max. Builders' %>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-6 height-75'>
        <%= f.input :is_private, label: 'Private Event' %>
      </div>
      <div class="col-sm-6 height-75">
        <p>If it's private, is there a contact person?</p>
      </div>
      <div class="col-sm-6">
        <%= f.input :contact_name %>
      </div>
      <div class="col-sm-6">
        <%= f.input :contact_email %>
      </div>
    </div>

    <div class='row'>
      <% if @show_advanced %>
        <div class="col-xs-12">
          <hr>
        </div>
        <div class='col-sm-6'>
          <%= f.input :technologies_built, label: "Filters built (but not boxed): " %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :boxes_packed, label: "Boxes packed (ready to ship): " %>
        </div>
      </div> <!-- class="row" -->
      <div class='row'>
        <div class='col-sm-6'>
          <%= f.label "Total Registered:" %><br/>
          <%= f.label "#{@event.total_registered}" %>
        </div>
        <div class='col-sm-6'>
          <%= f.input :attendance  %>
        </div>
      </div>
    <% else %>
      </div>
    <% end %>

    <%= f.button :submit, class: 'btn yellow devise' %>
    <% if !@event.new_record? %>
      <%= link_to "Cancel Event", event_path(@event), method: :delete, class: 'btn red devise', data: { confirm: "Are you sure you want to cancel the event? This has consequences."} %>
    <% end %>
  <% end %>
  <%= link_to "Back", events_path(), class: 'btn blue devise' %>
</div>
