<tr>
  <td>
    <%= leader.name %>
  </td>
  <td>
    <%= leader.email %>
  </td>
  <td>
    <%= human_boolean(leader.can_lead_event?(@event)) %>
  </td>
  <td>
    <% if already %>
      <%= link_to "Remove", leader_unregister_event_path(@event, user_id: leader.id), class: "btn yellow" %>
    <% else %>
      <%= link_to "Register", leader_register_event_path(@event, user_id: leader.id), class: "btn yellow" %>
    <% end %>
  </td>
</tr>
