<div class='emphasis-div-narrow'>
  <h3>You're Registered!</h3>
  <p><%= current_user.name %> | <%= current_user.email %></p>
  <p>
    You registered on <%= @registration.created_at.strftime("%-m/%-d/%Y") %> and are bringing <%= pluralize(@registration.guests_registered, 'guest')  %>.
  </p>
  <% if @registration.leader? %>
    <div>
      <p id='leader_self_note'>
        <% if @event.registrations.where(leader: true).count == 1 %>
          You are the only leader currently registered.
        <% else %>
          <%= "You are one of #{ pluralize(@event.registrations.where(leader: true).count, 'leader') } at this event." %>
        <% end %>
      </p>
    </div>
  <% end %>
  <h5> Review the <a class='waiver_click' data-toggle='modal' data-target='#waiverModal'><%='Waiver and Release'%></a> (accepted on <%= current_user.signed_waiver_on.strftime("%-m/%-d/%Y") %>)
  </h5>
</div>
<%= link_to 'Change/Cancel Registration', edit_event_registration_path(@event, @registration), class: 'btn red fullwidth use-load-screen' %>
<%= link_to('Not you? Sign Out', destroy_user_session_path, method: :delete, class: 'btn empty fullwidth') %>
