-# frozen_string_literal: true

= simple_form_for [@event, @registration] do |f|
  = f.error_notification
  = f.hidden_field :form_source, value: 'anon'
  = f.hidden_field :event_id
  = f.simple_fields_for :user do |o|
    = o.input :fname
    = o.input :lname
    = o.input :email
    = o.input :phone, required: false
    - if @event.allow_guests?
      %p
        Room for #{pluralize(@event.registrations_remaining - 1, 'more guest')}
      = f.input :guests_registered, label: 'Additional Guests (excluding you)', input_html: { min: 0, max: @event.registrations_remaining - 1 }
    = f.input :accommodations, label: 'Notes', as: :text
    %div
      %h4
        = f.check_box :accept_waiver, required: true
        %strong
          Accept the
          %a#waiver_click{ data: { target: '#waiverModal', toggle: 'modal', href: '#' } } Waiver and Release
  = f.submit 'Register', class: 'btn yellow'
