<%= simple_form_for [@event, @registration] do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :form_source, value: "anon" %>
  <%= f.hidden_field :event_id %>
  <%= f.simple_fields_for :user do |o| %>
    <%= o.error_notification %>
    <%= o.input :fname %>
    <%= o.input :lname%>
    <%= o.input :email %>
    <%= o.input :phone, required: false %>
    <p>Room for <%= pluralize(@event.registrations_remaining - 1, 'more guest') %></p>
    <%= f.input :guests_registered, label: 'Additional Guests (excluding you)', input_html: { min: 0, max: @event.registrations_remaining - 1 } %>
    <%= f.input :accommodations, label: 'Notes', as: :text %>
    <div>
      <h4>
        <%= f.hidden_field :accept_waiver, value: '0' %>
        <%= f.check_box :accept_waiver, required: true %> <strong>Accept the <a class="waiver_click" data-toggle="modal" data-target="#waiverModal"><%= f.label :accept_waiver, 'Waiver and Release' %></strong></a>
      </h4>
    </div>
  <% end %>
  <%= f.submit 'Register', class: 'btn yellow use-load-screen' %>
<% end %>
