-# frozen_string_literal: true

.col-sm-12
  .row
    .col-sm-6
      = f.input :impact_results
    .col-sm-6.form-hint-matcher
      %p.help-block Use number provided in first box from Impact Results section of event report.
.col-sm-6
  = f.input :technologies_built, label: '# of Loose Items produced: ', min_max: true, hint: 'Event Results section of event report.'
.col-sm-6
  = f.input :boxes_packed, label: '# of Boxes completed: ', min_max: true, hint: 'Event Results section of event report.'
.col-sm-6
  = f.input :number_registered, disabled: true, label: 'Total Registered (Builders and Leaders):', input_html: { value: @event.registrations.sum(:guests_registered) + @event.registrations.count }
.col-sm-6
  = f.input :attendance, label: 'Total Attendance (Builders and Leaders):'
.row
  - if @event.registrations.kept.count.positive?
    .col-xs-2
      %a#btn_check_all.btn.blue.btn-check{ href: '#' }
        %span.fa-stack
          = icon('fa', 'check', class: 'fa-stack-1x')
          = icon('far', 'square', class: 'fa-stack-2x')
        %span.btn-text all
      %a#btn_uncheck_all.btn.blue.btn-check{ href: '#' }
        %span.fa-stack
          = icon('fa', 'square', class: 'fa-stack-1x')
          = icon('far', 'square', class: 'fa-stack-2x')
        %span.btn-text all

  %div{ class: @event.registrations.kept.count.positive? ? 'col-xs-10' : 'col-xs-12' }
    %h3
      Registration-based attendance:
      %span#attendance_counter 0
= f.simple_fields_for :registrations, @event.registrations.kept.joins(:user).order(leader: :desc, 'users.lname': :asc) do |r|
  .row
    .col-xs-4
      :ruby
        user = r.object.user
        leader_lang = r.object.leader? ? 'LEADER: ' : ''
        guests_lang = r.object.guests_registered.positive? ? " (with #{pluralize r.object.guests_registered, 'guest'})" : ''

      = r.input :attended, label: "#{leader_lang}#{user.name} #{user.id} #{guests_lang}", input_html: { tabindex: '-1' }
    .col-xs-2.mt-10
      Email opt out:
    .col-xs-2.mt-5
      = r.input :email_opt_out, as: :boolean, label: false, input_html: { checked: user.email_opt_out? }
    .col-xs-2.mt-10
      Guests attended:
    .col-xs-2.mt-5
      = r.input :guests_attended, label: false
  .row.thin
    .col-xs-12
      %hr/
