<h2>Report</h2>
<%= simple_form_for @event  do |f| %>
  <%= f.error_notification %>
  <%= f.label :item_goal, label: "Build Goal: #{@event.item_goal}" %>
  <%= f.input :technologies_built, label: "Filters built (but not boxed): " %>
  <%= f.input :boxes_packed, label: "Boxes packed (ready to ship): " %>
  <%= f.label :number_registered, label: "Total Builders and Leaders Registered: #{@event.registrations.sum(:guests_registered) + @event.registrations.count}" %>
  <%= f.input :attendance, label: "Total Attendance:" %>
  <div class="row">
    <div class="col-xs-2">
      <a href="#" class="btn blue btn-check" id="btn_check_all">
        <%= fa_stacked_icon "check", base: "square-o" %> <span class="btn-text">all</span>
      </a>
      <a href="#" class="btn blue btn-check" id="btn_uncheck_all">
        <%= fa_stacked_icon "square-o", base: "square-o" %> <span class="btn-text">all</span>
      </a>
    </div>
    <div class="col-xs-10">
      <h3>Registration-based attendance: <span id="attendance_counter">0</span></h3>
    </div>
  </div>
  <%= f.simple_fields_for :registrations, @registrations do |r| %>
    <div class="row">
      <div class="col-sm-6">
        <%= r.input :attended, label: "#{r.object.user.name} (with #{r.object.guests_registered} guests)", input_html: { tabindex: '-1' } %>
      </div>
      <div class="col-sm-3 mt-10 right-align-md">
        Guests attended:
      </div>
      <div class="col-sm-3 mt-5">
        <%= r.input :guests_attended, label: false %>
      </div>
    </div>
    <div class="row thin">
      <hr>
    </div>
  <% end %>
    <%= f.submit "Submit Report", class: 'btn yellow fullwidth' %>
<% end %>
