<h2>Share This Event!</h2>

<div class="share-container">
  <div>
    <div class="fb-share-button" data-href="<%= request.url %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="<%= request.url %>">Share on Facebook</a></div>
  </div>

  <div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= current_user && current_user.registered?(@event) ? 'Join me in building water filters with 20 Liters!' : 'Help build water filters with 20 Liters!' %>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1665305893501056';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% content_for :fb_og do %>
  <meta property="og:url" content="<%= request.url %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Filter Build">
  <meta property="og:description" content="Tackle the global clean water crisis by assembling water filters.">
  <meta property="og:image" content="<%= image_url('20L_Logo.png') %>">
  <meta property="og:image:alt" content="20Liters.org">
<% end %>

