-# frozen_string_literal: true

%tr
  %td
    - if current_user&.can_manage_leaders?
      = link_to 'Manage', leaders_event_path(table), class: 'btn yellow'
    - else
      = link_to 'Lead', event_path(table, leader: true), class: 'btn yellow'
  %td= table.title
  %td{ data: { sort: table.start_time.to_i } }= table.format_date_only
  %td= table.technology.name
  %td= table.format_time_only
  %td= table.location.name
  %td= table.total_registered
  %td= table.leader_count_and_names
  %td= table.leaders_need_vs_want
