-# frozen_string_literal: true

%tr
  %td= table_setup.title
  %td{ 'data-sort' => table_setup.start_time.to_date.iso8601 }= table_setup.format_date_only
  %td= table_setup.format_time_only
  %td= table_setup.location.name
  %td
    - if table_setup&.setup
      = table_setup.setup&.title
      - if current_user&.can_manage_users?
        = link_to 'Edit', edit_event_setup_path(table_setup, table_setup.setup), class: 'btn btn-sm blue float-right setup-edit'
      - else
        - if table_setup.setup.users.include? current_user
          = link_to 'Cancel', register_event_setup_path(table_setup, table_setup.setup, record_action: 'deregister'), class: 'btn btn-sm red float-right setup-cancel'
        - else
          = link_to 'Join', register_event_setup_path(table_setup, table_setup.setup, record_action: 'register'), class: 'btn btn-sm blue float-right setup-join'
    - else
      = link_to 'Schedule', new_event_setup_path(table_setup), class: 'btn btn-sm yellow float-right setup-schedule'

