<a href="javascript:window.print()" class="attendance-btn btn blue no-print" alt="Print"><i class="fa fa-print"></i> Print</a>
<%= link_to "Back", event_path(@event), class: "btn yellow no-print attendance-btn" %>
<h3>Attendance List for <%= @event.format_time_range %></h3>
<h4>
  <%= @event.title %>
  <% if @event.is_private? %>
    | Private Event
  <% end %>
  <% if @event.leaders_registered.count.positive? %>
     |
    <%= "#{ pluralize_without_count(@event.registrations.where(leader: true).count, 'Leader') }: " + @event.registrations.registered_as_leader.map { |r| r.user.name }.join(', ') %>
  <% end %>
</h4>
<div class="attendance-header">
  <p><sup>1</sup> <strong>Liability Waiver & Media Release:</strong> Signature Required to participate. Copies are available online and in person. Parent / Guardian / Supervisor must sign for minors.</p>
  <p><sup>2</sup> <strong>Emails:</strong> You will receive our monthly newsletter and emails regarding future filter builds unless you opt-out. You can change your preference at any time.</p>
</div>
<div class="attendance-div">
  <table class="table table-condensed attendance-list"">
    <thead>
      <tr class="center-align">
        <th class="tbl-col-lg">Name</th>
        <th class="tbl-col-lg">Email</th>
        <th class="tbl-col-lg">Phone</th>
        <th class="tbl-col-lg">Liability Waiver & Media Release<sup>1</sup><br><strong>SIGNATURE REQUIRED</strong></th>
        <th class="tbl-col-sm">Email<br>Opt Out<sup>2</sup></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'events/attendance_list', collection: @registrations, as: :registration %>
      <% if @print_blanks.positive? %>
        <% @print_blanks.times do %>
          <tr class="tr-bordered">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="center-align"><i class="fa fa-square-o"></i></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="attendance-footer">
  <p><sup>1</sup> <strong>Liability Waiver & Media Release:</strong> Signature Required to participate. Copies are available online and in person. Parent / Guardian / Supervisor must sign for minors.</p>
  <p><sup>2</sup> <strong>Emails:</strong> You will receive our monthly newsletter and emails regarding future filter builds unless you opt-out. You can change your preference at any time.</p>
</div>
