<div class='container'>
  <% if current_user and current_user.is_leader? %>
    <div class="action-container">
      <%= link_to "Create New Event", new_event_path, class: 'btn yellow' %>
    </div>
  <% else %>
    <div class="action-container">
      <h3>Want a custom build event for your group?</h3>
      <p>If you have a group of 6+ people we can schedule a build at your convenience.</p>
      <%= mail_to 'filterbuild@20liters.org', 'Email Us!', class: 'btn yellow', subject: 'Request for custom build event' %>
    </div>
  <% end %>


  <div class="event-container">
    <h2 class="heading">Upcoming Events</h2>
    <% if @events.count > 0 %>
      <%= render partial: 'events/event', collection: @events %>
    <% else %>
      <div class="center-align action-container">
        <h4>No upcoming events.</h4>
        <p>Want to get notified when new build events are available?</p>
        <a href="https://20liters.kindful.com/register/volunteer" class="btn yellow">Join the Email List</a>
      </div>
    <% end %>
  </div>

  <% if @past_events.present? %>
    <div class="event-container">
      <h2 class="heading">Past Events</h2>
      <%= render partial: 'events/event', collection: @past_events %>
    </div>
  <% else %>
    <div class="event-container">
      <h2 class="heading">Don't just build, lead!</h2>
      <%= render partial: 'events/solicit'  %>
    </div>
  <% end %>
</div>
