<div class="container event-leaders">
  <%= render partial: 'shared/event_functions' %>

  <div class="row">
    <div class="col-sm-8">
      <h1>Leaders for <%= @event.full_title %></h1>
    </div>
    <div class="col-sm-4">
      <%= link_to "Go to event", event_path(@event), class: "btn empty pull-right"  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Technology: <%= @event.technology.name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Registered leaders:</h2>
    </div>
    <div class="col-xs-12">
      <table class="datatable table table-striped table-bordered" id="leaders_tbl">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Qualified</th>
            <th>Leader Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'leader', collection: @already_registered_leaders, locals: { already: true } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Other leaders:</h2>
    </div>
    <div class="col-xs-12">
      <table class="datatable table table-striped table-bordered" id="leaders_tbl">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Qualified</th>
            <th>Leader Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'leader', collection: @remaining_leaders, locals: { already: false } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
