<div class="container event-poster">
  <div class="row title-row">
    <div class="col-md-3">
      <%= image_tag "logo-horizontal-417-208.png", class: "poster-logo" %>
    </div>
    <div class="col-md-9 poster-title">
      <h2>Roll up your sleeves to solve the global water crisis.</h2>
      <h4>Take a global problem personally and solve it for the next decade.</h4>
    </div>
    <div class="col-xs-12">
      <h1 class="center-align event-title"><%= @event.title %></h1>  
    </div>
  </div>
  <div class="row technology-row">
    <div class="col-xs-12">
      <div class="row">
        <% if @tech_img.present? %>
          <div class="col-xs-4">
        <% else %>
          <div class="col-xs-6">
        <% end %>
          <h2>We're Building <%= @technology.name %>s</h2>
          <% if @technology.family_friendly %>
            <h4>Family-friendly! Ages 4 - 104 are welcome.</h4>
          <% else %>
            <h4>Grown-up build</h4>
            <i>Ages 12+ because of PVC glue and power tools</i>
          <% end %>
          <h4><%= @tech_blurb %></h4>
          <h4>Lasting 10 years or more, these filters change lives. Improving health, education, and income with every glass.</h4>
        </div>
        <% if @tech_img.present? %>
          <div class='col-xs-4'>
            <img src="<%= @tech_img  %>" class="tech-img">
          </div>
        <% end %>
        <% if @tech_img.present? %>
          <div class="col-xs-4">
        <% else %>
          <div class="col-xs-6">
        <% end %>
          <h2>What to expect:</h2>
          <ul>
            <li>You'll receive a quick overview of the global water crisis and what we're doing about it as well as a demonstration of how to build filters.</li>
            <li>Come late or leave early as you need to</li>
            <li>Gloves and tools will be provided</li>
            <li>Childcare is not provided, <%= @child_statement_email %></li>
          </ul>
          <h2>What to bring:</h2>
          <ul>
            <li>A water bottle is a good idea</li>
            <li>Comfortable, close-toed shoes</li>
            <li>A desire to help the 383 million people without access to clean water</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row location-row">
    <% if @location_img.present? %>
      <div class="col-xs-6">
    <% else %>
      <div class="col-xs-12">
    <% end %>
      <h2>You Should Come.</h2>
      <h3><%= @event.format_time_range %></h3>
      <h4><%= @event.location.name %></h4>
      <div><%= @event.location.address1 %></div>
      <% if @event.location.address2 %>
        <div><%= @event.location.address2 %></div>
      <% end %>
      <div><%= @event.location.one_liner %></div>

      <% if @event.location.instructions %>
        <div><%= @event.location.instructions %></div>
      <% end %>

      <% if @event.description.present? %>
        <h4>Additional Event Details</h3>
        <div><%= @event.description %></div>
      <% end %>
    </div>
    <% if @location_img.present? %>
      <div class='col-xs-6'>
        <img src="<%= @location_img  %>" class="location-img">
      </div>
    <% end %>
  </div>
  <div class="row signup-row">
    <h2>You in? Ready to build?</h2>
    <% if @event.is_private? %>
      <% if @event.contact_name.present? %>
        <h4>Talk to <%= @event.contact_name %></h4>
        <h4><%= @event.contact_email %></h4>
      <% end %>
    <% else %>
      <h3>https://make.20liters.org</h3>
    <% end %>
  </div>
    
</div>
