<div class="event-poster">
  <div class="poster-row">
    <div class="poster-logo-div">
      <%= image_tag "logo-horizontal-417-208.png", class: "poster-logo" %>
    </div>
    <div class="poster-title-div">
      <h3>Roll up your sleeves to<br />solve the global water crisis.</h3>
      <h5>Take a global problem personally and solve it for the next decade.</h5>
    </div>
  </div>
  <div class="poster-row">
    <div class="poster-event-title-div">
      <h1 class="center-align event-title">
        <%= @event.title %>
      </h1>
    </div>
  </div>

  <div class="poster-row">
    <div class="poster-third">
      <h2>We're Building <%= @technology.name %>s</h2>
      <% if @technology.family_friendly %>
        <h4>Family-friendly! Ages 4 - 104 are welcome.</h4>
      <% else %>
        <h4>Grown-up build</h4>
        <i>Ages 12+ for safety reasons</i>
      <% end %>
      <h4><%= @tech_blurb %></h4>
      <h4>Lasting 10 years or more, these filters change lives. Improving health, education, and income with every glass.</h4>
    </div>

    <div class="poster-third">
      <img src="<%= @tech_img  %>" class="tech-img">
    </div>

    <div class="poster-third">
      <h2>What to expect:</h2>
      <ul>
        <li>Info on the global water crisis</li>
        <li>Hands-on training</li>
        <li>Casual, social environment</li>
        <li>Gloves and tools provided</li>
        <li>Childcare is not provided, <%= @child_statement_email %></li>
      </ul>
      <h2>What to bring:</h2>
      <ul>
        <li>A water bottle is a good idea</li>
        <li>Comfortable, close-toed shoes</li>
        <li>A desire to help the 663 million people without access to clean water</li>
      </ul>
    </div>
  </div>

  <div class="poster-row">
    <div class="poster-half">
      <h3><%= @event.format_time_range %></h3>
      <h3 class="slim"><%= @event.location.name %></h3>
      <h5><%= @event.location.address %></h5>
      <h5><%= @event.location.one_liner %></h5>

      <h3>You in? Ready to build?</h3>
      <% if @event.is_private? %>
        <% if @event.contact_name.present? %>
          <h4>Talk to <%= @event.contact_name %></h4>
          <h4><%= @event.contact_email %></h4>
          <h4>Sign up at <%= event_url(@event) %></h4>
        <% end %>
      <% else %>
        <h4>Sign up at <%= event_url(@event) %></h4>
      <% end %>
    </div>

    <div class="poster-half">
      <img src="<%= @location_img  %>" class="location-img">
    </div>
  </div>

  <div class="poster-row center-align poster-footer">
    20 Liters is a 501(c)3 non profit corporation, EIN 27-3378656&nbsp;&nbsp;|&nbsp;&nbsp;20liters.org&nbsp;&nbsp;|&nbsp;&nbsp;616.528.0314
  </div>
</div>
