<div class="container">
  <h1><%= @event.title %></h1>
  <div class="row">
    <div class="col-md-6">
      <% if current_user %>
        <%= link_to('Not you?', destroy_user_session_path, method: :delete) %>
        <%= form_for [@event, @registration] do |f| %>
          <%= f.hidden_field :event_id %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :leader, value: '0' %>
          <div><%= f.label :name, "Name: #{current_user.name}" %></div>
          <div><%= f.label :email, "Email: #{current_user.email}" %></div>
          <% if current_user.can_lead_event?(@event) %>
            <div><%= f.label 'Register as Leader' %>
            <%= f.check_box :leader %></div>
          <% end %>
          <%= f.label :guests_registered %>
          <%= f.number_field :guests_registered %>
          <%= f.submit %>
        <% end %>
      <% else %>
        <%= simple_form_for [@event, @registration] do |f| %>
          <%= f.hidden_field :event_id %>
          <%= simple_fields_for :user do |o| %>
            <%= o.input :fname, label: 'First Name' %>
            <%= o.input :lname, label: 'Last Name' %>
            <%= o.input :email, label: 'email' %>
          <% end %>
          <%= f.label :guests_registered %>
          <%= f.number_field :guests_registered %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h1>The Details</h1>
      <%= @event.format_time_range %>
      <h3>Location</h3>
      <h4><%= @event.location.name %></h4>
      <div><%= @event.location.address1 %></div>
      <% if @event.location.address2 %>
        <div><%= @event.location.address2 %></div>
      <% end %>
      <div><%= @event.location.city %>, <%= @event.location.state %> <%= @event.location.zip %></div>
      <% if @event.location.map_url %>
        <a target="_blank" href="<%= @event.location.map_url %>">Map</a>
      <% end %>
    </div>
  </div>
</div>
