<div class="container">
  <h1>Event Title: <%= @event.title %></h1>


  <%= form_for [@event, @registration] do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit %>
  <% end %>

  <for
</div>
