<div class="container event-show">
  <div class="page-header">
    <h1><%= @event.title %></h1>
    <% if @event.is_private %>
      <h4 class="center-align">Private Event</h4>
    <% end %>
    <% if @show_admin_registration %>
      <%= link_to "Manage / Register Builders", event_registrations_path(@event), class: "btn blue" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Register</h2>
      <h4><%= @event.total_registered %> / <%= @event.max_registrations %> registered.
      </h4>
      <p>
        <% if @event.total_registered > 0 %>
          <% if @event.registrations_remaining.positive? %>
            Room for <%= pluralize(@event.registrations_remaining, 'more person') %>.
          <% else %>
            <strong>Event is full. No more room for additional guests.</strong>
          <% end %>
        <% end %>
      </p>
      <p><strong>
        Event <%= pluralize_without_count(@event.registrations.registered_as_leader.count, 'leader') %>: <%= @event.registrations.registered_as_leader.map { |r| r.user.fname }.join(', ') %>
      </strong></p>
      <hr>
        <% if current_user %>
          <% if current_user.registered?(@event) %>
            <%= render partial: 'events/registration_registered' %>
          <% else %>
            <% if @event.registrations_filled? %>
              <%= render partial: 'events/registration_full' %>
            <% else %>
              <%= render partial: 'events/registration_signedin' %>
            <% end %>
          <% end %>
        <% else # current_user == nil %>
          <% if @event.registrations_filled? %>
            <%= render partial: 'events/registration_full' %>
          <% else %>
            <%= render partial: 'events/registration_anonymous' %>
          <% end %>
        <% end %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <% if @tech_img.present? %>
          <div class="col-xs-8">
        <% else %>
          <div class="col-xs-12">
        <% end %>
          <h2>The Filter</h2>
          <h3><%= @technology.name %></h3>
          <% if @technology.family_friendly %>
            <h4>Family-friendly! Ages 4 - 104!</h4>
          <% else %>
            <h4>Grown-up build</h4>
            <i>Ages 12+ because of PVC glue and power tools</i>
          <% end %>
        </div>
        <% if @tech_img.present? %>
          <div class='col-xs-4'>
            <img src="<%= @tech_img  %>" class="tech-img">
            <% if @tech_info.present? %>
              <%= link_to "Learn more", @tech_info, target: "_blank", class: "btn blue devise" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>The Details</h2>
          <h4><%= @event.format_time_range %></h4>
          <h4><%= @event.location.name %></h4>
          <div><%= @event.location.address1 %></div>
          <% if @event.location.address2 %>
            <div><%= @event.location.address2 %></div>
          <% end %>
          <div><%= @event.location.one_liner %></div>

          <% if @event.location.instructions %>
            <div><%= @event.location.instructions %></div>
          <% end %>

          <% if @event.location.map_url.present? %>
            <%= link_to "Map", @event.location.map_url, class: "btn blue", target: "_blank" %>
          <% end %>

          <% if @event.description.present? %>
            <h4>Additional Event Details</h3>
            <div><%= @event.description %></div>
          <% end %>
          <% if current_user&.is_admin? || current_user&.is_leader %>
            <%= link_to("Edit Event", edit_event_path(@event), class: 'btn yellow') %>
            <%= link_to "Print Attendance List", attendance_event_path(@event), class: 'btn empty' %>
          <% end %>
        </div>
      </div>
    </div>

    <% if !@event.in_the_past? %>
      <div class="col-xs-12 center-align">
        <%= render partial: 'events/share' %>
      </div>
    <% end %>

    <% if @show_report %>
      <div class='col-xs-12 col-md-6 col-md-offset-3'>
        <%= render partial: 'events/report' %>
      </div>
    <% end %>

  </div>
</div>

<div class="modal fade" id="waiverModal" tabindex="-1" role="dialog" aria-labelledby="Liability Waiver & Media Release" aria-hidden="true">
  <%= render partial: 'users/user_waiver_form', locals: {show_accept_button: current_user ? !current_user.waiver_accepted : true} %>
</div>
