<tr>
  <td>
    <%= link_to report_event.full_title, event_path(report_event), target: '_blank' %>
  </td>
  <td>
    <%= human_number(report_event.length) %>
  </td>
  <td>
    <%= human_number(report_event.leaders_attended) %>
  </td>
  <td>
    <%= human_number(report_event.leaders_hours) %>
  </td>
  <td>
    <%= human_number(report_event.builders_attended) %>
  </td>
  <td>
    <%= human_number(report_event.builders_hours) %>
  </td>
  <td>
    <%= human_number(report_event.volunteer_hours) %>
  </td>
</tr>
