<div class="row">
  <div class="col-xs-4">
    <div class="alert <%= email.sync_banner_color %>">
      <%= email.sync_msg %>
    </div>
  </div>
  <div class="col-xs-4">
    <p>From: <%= email.from.first %></p>
    <p>To: <%= email.to.join(', ') %></p>
  </div>
  <div class="col-xs-4">
    <p><strong>Subject: <%= email.subject %></strong></p>
    <p>Date: <%= human_datetime email.datetime %></p>
  </div>
  <div class="col-xs-12">
    <p><%= email.snippet.html_safe %>...</p>
  </div>
  <% if email.synced? %>
    <div class="col-xs-12">
      <p>
        <%= email.synced_data %>
      </p>
    </div>
  <% end %>
</div>
<div class="row">
  <hr>
</div>
