<div class="col-xs-12 col-sm-8">
  <h3>Manual Sync for <%= @oauth_user.name %></h2>
</div>

<div class="col-xs-12 col-sm-2 right-align">
  <%= link_to 'Status', auth_status_path(@oauth_user), class: 'btn yellow'  %>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h2>Performing a manual sync:</h2>
      <p>You can use the field </p>
    </div>
  </div>
  <div class="row">
    <%= simple_form_for @oauth_user, url: auth_update_path(@oauth_user), remote: true do |f| %>
      <div class="col-xs-12">
        <%= f.input :manual_query, input_html: { placeholder: 'Enter any query that works in your Gmail searchbar' } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :sync_emails, inline_label: true, label: false %>
      </div>
      <div class="col-xs-6">
        <%= f.button :submit, 'Sync!', class: 'btn blue' %>
      </div>
      <div class="col-xs-12 sync-disabled-warning" style="<%= 'display:none;' if @oauth_user.sync_emails %>">
        <p><strong>Syncing emails is currently disabled. Nothing will happen.</strong></p>
      </div>
    <% end %>

  </div>
</div>
<div class="col-xs-12">
  <% if @oauth_user.oauth_expired? %>
    <h5>Token expired <%= human_datetime @oauth_user.oauth_expires_at %></h5>
  <% else %>
    <h5>Token expires in <%= @oauth_user.oauth_remaining %> minutes</h5>
  <% end %>
</div>


<div class="col-xs-12 user-details">
  <%= @oauth_user.details %>
</div>
<div class="col-xs-12">
  <hr />
</div>
<div class="col-xs-12">
  <% if @emails.any? %>
    <ul>
      <% @emails.each do |email|  %>
        <li>
          <ul>
            <li>
              ID: <%= email.id %>
            </li>
            <li>
              Date: <%= email.datetime.strftime('%Y/%m/%d @ %H:%m') %>
            </li>
            <li>
              Message ID: <%= email.message_id %>
            </li>
            <li>
              From: <%= email.from %>
            </li>
            <li>
              To: <%= email.to %>
            </li>
            <li>
              Subject: <%= email.subject %>
            </li>
            <br>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No emails were synced within the last 14 days.</p>
  <% end %>
</div>
