<div class="col-xs-12">
  <h3>Oauth Status for <%= @oauth_user.name %>:</h2>
</div>

<div class="col-xs-12">
  <h5>Token expires in <%= @oauth_user.oauth_remaining %> minutes</h5>
</div>

<div class="col-xs-12">
  <%= @oauth_user.as_json %>
</div>
<div class="col-xs-12">
  <hr />
</div>
<div class="col-xs-12">
  <ul>
    <% @emails.each do |email|  %>
      <li>
        <ul>
          <li>
            ID: <%= email.id %>
          </li>
          <li>
            Date: <%= email.datetime.strftime('%Y/%m/%d @ %H:%m') %>
          </li>
          <li>
            Message ID: <%= email.message_id %>
          </li>
          <li>
            From: <%= email.from %>
          </li>
          <li>
            To: <%= email.to %>
          </li>
          <li>
            Subject: <%= email.subject %>
          </li>
          <br>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
