<div class="col-xs-12" id="leaders_report">
   <div class="row">
     <%= render partial: 'date_bar' %>
   </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Active leaders:</h2>
    </div>

    <div class="col-xs-12">
      <table class="table datatable-export">
        <thead>
          <tr>
            <th>Leaders</th>
            <th># of events</th>
            <th># of hours</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'leader', collection: @active_leaders %>
        </tbody>
        <tfoot>
          <tr>
            <th>
              <%= human_number(@active_leaders.size) %>
            </th>
            <th>
              <%= human_number(@events.size) %>
            </th>
            <th>
              <%= human_float(@events.map(&:leaders_hours).sum) %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Inactive leaders:</h2>
    </div>

    <div class="col-xs-12">
      <table class="table datatable-export">
        <thead>
          <tr>
            <th>Leaders</th>
            <th>Last event</th>
            <th>Total events</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'inactive_leader', collection: @inactive_leaders %>
        </tbody>
        <tfoot>
          <tr>
            <th>
              <%= human_number(@inactive_leaders.size) %>
            </th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
