-# frozen_string_literal: true

.whole{ style: 'position: relative; min-height: 1px;float: left; width: 100%;' }
  %h3{ style: 'margin-bottom: 6px;' }= @event.format_time_range
  %h4{ style: 'margin: 6px auto;' }= @event.title
  %p
    %strong Location:
    %br/
    = @location.name
    %br/
    = @location.address_block
.whole{ style: 'position: relative; min-height: 1px; float: left; width: 100%;' }
  - if @event.leaders_names.present?
    %p{ style: 'margin-bottom: 6px;' }
      %strong= @leader_count_text
    %p{ style: 'margin-top: 6px' }= @event.leaders_names_full
