<div class="whole" style="position: relative; min-height: 1px;float: left; width: 100%;">
  <h3 style="margin-bottom: 6px;"><%= @event.format_time_range %></h3>
  <h4 style="margin: 6px auto;"><%= @event.title %></h4>
  <p>
    <strong>Location:</strong> <br>
    <%= @location.name %> <br>
    <%= @location.address1 %> <br>
    <% if @location.address2 %>
      <%= @location.address2 %> <br>
    <% end %>
    <%= @location.city %>, <%= @location.state %>  <%= @location.zip %>
  </p>

  <% if @location.map_url %>
    <%= link_to "Map", @location.map_url, class: "btn yellow filled", target: "_blank", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
  <% end %>
  <% if @location.photo_url %>
    <%= link_to "Photo", @location.photo_url, class: "btn yellow filled", target: "_blank", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #fce000; border-color: ##fcc900;" %>
  <% end %>
</div>
<div class="whole" style="position: relative; min-height: 1px; float: left; width: 100%;">
  <% if @event.leaders_names.present? %>
    <p style="margin-bottom: 6px;">
      <strong><%= @leader_count_text %></strong>
    </p>
    <p style="margin-top: 6px"><%= @event.leaders_names_full %></p>
  <% end %>
</div>
