<div class="whole" style="position: relative; min-height: 1px;float: left; width: 100%;">
  <h3 style="margin: 6px auto;"><%= event.title %></h3>
  <p>
    <strong>Location:</strong> <br>
    <%= location.name %> <br>
    <%= location.address1 %> <br>
    <% if location.address2.present? %>
      <%= location.address2 %> <br>
    <% end %>
    <%= location.city %>, <%= location.state %>  <%= location.zip %>
  </p>
</div>
<div class="whole" style="position: relative; min-height: 1px; float: left; width: 100%;">
  <% if event.leaders_names.present? %>
    <p style="margin-bottom: 6px;">
      <strong><%= pluralize event.leaders_registered.size, 'leader' %>:</strong>
    </p>
    <p style="margin-top: 6px"><%= event.leaders_names_full %></p>
  <% end %>
</div>
