<div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
  <h3>A message was sent to the <%= pluralize(@event.registrations.count, "builder") %> for this event: <%= @event.full_title %> </h3>

  <p><%= @sender.name %> sent out this message:</p>
  <p><strong>SUBJECT:</strong> <%= @subject %></p>
  <p><strong>MESSAGE:</strong></p>
  <p><%= @message %></p>
</div>

<div class="row" style="margin-top: 26px; margin-left: -15px; margin-right: -15px; ">
  <div class="whole" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 20%; text-align: center;">
    <%= link_to "Go to make.20liters.org", "https://make.20liters.org", class: "btn blue", target: "_blank", style: "display: inline-block; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; text-decoration: none; color: #4a4a4a; background-color: #9bb4c8; border-color: #91a0c8;" %>
  </div>
</div>