<% if assembly.item_type == 'Component' %>
  <img src="<%= assembly.item.picture %>" width="120" style="margin-right: 12px;">
<% end %>
<li>
  (<%= assembly.id %>) <%= assembly.item_uid %>: <%= assembly.item.name %> x <%= assembly.quantity %>
</li>

<% if assembly.has_sub_items? %>
  <ul>
    <%= render partial: 'assembly', collection: assembly.sub_assemblies.prioritized %>
  </ul>
<% end %>
