<% per_tech = component.per_technology %>
<% per_box = component.quantity_per_box %>
<% need =  per_tech * @quantity %>
<% if !per_box.nil? && per_box <= 1 %>
  <% need_boxes = 0 %>
  <% need_loose = need %>
<% else %>
  <% need_boxes = (need / per_box).round(half: :down) %>
  <% need_loose = need - (need_boxes * per_box) %>
<% end %>
<tr>
  <th colspan="3">Component:</th>
  <th>Supplier</th>
  <th>#/Tech:</th>
  <th>avail.</th>
  <th>need</th>
  <th>boxes</th>
  <th>loose</th>
</tr>
<tr>
  <td>
    <% if current_user.is_admin? %>
      <%= link_to component.uid, rails_admin.edit_path(model_name: component.model_name, id: component.id), target: "_blank"  %>
    <% else %>
      <%= component.uid %>
    <% end %>
  </td>
  <td colspan="2">
    <%= component.name %>
  </td>
  <td></td>
  <td style="text-align: right">
    <%= human_number per_tech %>
  </td>
  <td style="text-align: right">
    <%= human_number component.available %>
  </td>
  <td style="text-align: right">
    <%= human_number need %>
  </td>
  <td style="text-align: right">
    <%= human_number need_boxes %>
  </td>
  <td style="text-align: right">
    <%= human_number need_loose %>
  </td>
</tr>
<% if component.parts.any? %>
  <tr>
    <th></th>
    <th colspan="2">Parts in component:</th>
    <th></th>
    <th>#/Component:</th>
    <th>avail.</th>
    <th>need</th>
    <th>boxes</th>
    <th>loose</th>
  </tr>
  <%= render partial: "part", collection: component.parts.order(:name), locals: { component: component } %>
<% end %>
