-# frozen_string_literal: true
:ruby
  available = material.available_count
  need = (remainder / part.quantity_from_material).ceil
  new_remainder = [need - available, 0].max
  highlight = 'color: red; font-weight: bolder; border: solid 2px red' if available < need

%tr
  - if nesting.positive?
    %td{ colspan: nesting }
  %td.right-align
    = material.uid
  %td{ colspan: 6 - nesting }
    = material.name
  %td
    = material.supplier&.name
  %td.right-align
    = human_number need
  %td.right-align{ style: highlight }
    = human_number available
  %td.right-align
    = human_number new_remainder
  %td.right-align
    = human_number material.goal_remainder
