-# frozen_string_literal: true
:ruby
  available = material.available_count
  goal_remainder = material.goal_remainder
  highlight = 'color: red; font-weight: bolder; border: solid 2px red' if goal_remainder > available
  quantity_for_part = material.quantity_for_part(part)

%tr
  - if nesting.positive?
    %td{ colspan: nesting }
  %td.right-align
    = material.uid
  %td{ colspan: 6 - nesting }
    = material.name
  %td
    = material.supplier&.name
  %td.right-align
    = human_number available
  %td.right-align
    - if quantity_for_part > 1
      1 &#8594; #{human_number quantity_for_part}
      %br
      (need #{human_number part.goal_remainder / part.quantity_from_material})
    - else
      = human_number quantity_for_part
  %td.right-align{ style: highlight }
    = human_number goal_remainder
  %td.right-align
    = human_number available + goal_remainder
