<% per_tech = material.per_technology %>
<% per_box = material.quantity_per_box %>
<% need =  per_tech * @quantity %>
<% if !per_box.nil? && per_box <= 1 %>
  <% need_boxes = 0 %>
  <% need_loose = need %>
<% else %>
  <% need_boxes = (need / per_box).round(half: :down) %>
  <% need_loose = need - (need_boxes * per_box) %>
<% end %>
<tr>
  <td>
    <% if current_user.is_admin? %>
      <%= link_to material.uid, rails_admin.edit_path(model_name: material.model_name, id: material.id), target: "_blank"  %>
    <% else %>
      <%= material.uid %>
    <% end %>
  </td>
  <td colspan="2">
    <%= "#{material.name}" %>
    <span style="font-style: italic;">
      <%= "(for #{material.parts.map(&:name).to_sentence})" %>
    </span>
    <% if !per_box.nil? && per_box > 1 %>
      <span style="float: right;">
        <%= "(#{human_number per_box} per box)" %>
      </span>
    <% end %>
  </td>
  <td>
    <%= material.supplier&.name %>
  </td>
  <td style="text-align: right;">
    <%= human_float(per_tech, 4) %>
  </td>
  <td style="text-align: right;">
    <%= human_number material.available %>
  </td>
  <td style="text-align: right;">
    <%= human_float(per_tech * @quantity, 4) %>
  </td>
  <td style="text-align: right">
    <%= human_number need_boxes.to_i %>
  </td>
  <td style="text-align: right">
    <%= human_number need_loose %>
  </td>
</tr>
