<% parts_per_float = defined?(component) ? part.extrapolate_component_parts.where(component: component).first.parts_per_component : part.extrapolate_technology_parts.where(technology: @technology).first.parts_per_technology %>
<% parts_per = parts_per_float == parts_per_float.to_i ? parts_per_float.to_i : parts_per_float %>
<% ppq = defined?(component) && !@ignore_component_counts ? (parts_per * @quantity) - component.available : parts_per * @quantity %>
<% ppq = 0 if ppq < 0 %>
<% need = ppq == ppq.to_i ? ppq.to_i : ppq %>
<% per_box = part.quantity_per_box %>
<% if !per_box.nil? && per_box <= 1 %>
  <% need_boxes = 0 %>
  <% need_loose = need %>
<% else %>
  <% need_boxes = (need / per_box).round(half: :down) %>
  <% need_loose = need - (need_boxes * per_box) %>
<% end %>
<tr>
  <% if defined?(component) %>
    <td></td>
    <td>
      <% if current_user.is_admin? %>
        <%= link_to part.uid, rails_admin.edit_path(model_name: part.model_name, id: part.id), target: "_blank"  %>
      <% else %>
        <%= part.uid %>
      <% end %>
    </td>
    <td>
  <% else %>
    <td>
      <% if current_user.is_admin? %>
        <%= link_to part.uid, rails_admin.edit_path(model_name: part.model_name, id: part.id), target: "_blank"  %>
      <% else %>
        <%= part.uid %>
      <% end %>
    </td>
    <td colspan="2">
  <% end %>
      <%= "#{part.name}" %>
    <% if !per_box.nil? && per_box > 1 %>
      <span style="float: right;">
        <%= "(#{human_number per_box} per box)" %>
      </span>
    <% end %>
    <% if part.made_from_materials? && part.materials.any? %>
      <span style="font-style: italic;">
        <%= "(made from #{part.materials.first.name})" %>
      </span>
    <% end %>
  </td>
  <td style="text-align: right">
    <%= human_number parts_per %>
  </td>
  <% if part.available < ppq %>
    <td style="text-align: right; color: red; font-weight: bolder; border: solid 2px red;">
  <% else %>
    <td style="text-align: right">
  <% end %>
    <%= human_number part.available %>
  </td>
  <td style="text-align: right">
    <%= human_number need %>
  </td>
  <td style="text-align: right">
    <%= human_number need_boxes %>
  </td>
  <td style="text-align: right">
    <%= human_number need_loose %>
  </td>
  <td></td>
  <td></td>
</tr>
