-# frozen_string_literal: true
%tr
  %td
    #{technology.uid}: #{technology.short_name} #{technology.name}
  %td
    - if technology.image.attached?
      %img{ height: '100', src: url_for(technology.image) }
  %td
    = technology.owner
  %td
    = link_to 'Item List', combination_path(technology.uid), class: 'btn blue'
    = link_to 'Price List', prices_technology_path(technology.id), class: 'btn yellow'
