<div class="container">
  <div class="row">
    <%= form_tag items_technology_path(@technology.id), method: 'get', class: 'form-inline', enforce_uft8: false do %>
      <div class="col-md-5">
        <h3><%= @technology.name + " Item List:" %></h3>
      </div>
      <div class="col-md-2 no-print form-group">
        <%= number_field_tag 'q', @quantity_val, { min: 0, step: 1, class: 'form-control', placeholder: 'Quantity' } %>
      </div>
      <div class="col-md-3 no-print form-group">
        <label for="i">Ignore Component Avail.</label>
        <%= check_box_tag 'i', '1', @ignore_component_counts %>
      </div>
      <div class="col-md-2 no-print form-group">
        <%= submit_tag "Set Quantity", class: 'btn yellow', name: nil %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered" id="<%= 'list_item_tbl_' + @technology.id.to_s %>">
        <colgroup>
          <col style="width: 2%;">
          <col style="width: 70%;">
          <col style="width: 7%;">
          <col style="width: 7%;">
          <col style="width: 7%;">
          <col style="width: 7%;">
        </colgroup>
        <tbody>
          <%= render partial: 'component', collection: @components %>
          <tr>
            <th colspan="2">Parts:</th>
            <th>#/Tech:</th>
            <th>avail.</th>
            <th>need</th>
            <th>actual</th>
          </tr>
          <%= render partial: "part", collection: @loose_parts.order(:name), locals: { technology: @technology } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row no-print">
    <div class="col right-align">
      <%= link_to "Back", technologies_path(), class: 'btn blue'  %>
    </div>
  </div>
</div>
