-# frozen_string_literal: true

.container
  .row
    = form_tag items_technology_path(@technology.id), method: 'get', class: 'form-inline', enforce_uft8: false do
      .col-md-8
        %h3 #{@technology.name} Item List:
      .col-md-2.no-print.form-group
        = number_field_tag 'q', @quantity_val, { min: 0, step: 1, class: 'form-control', placeholder: 'Quantity' }
      .col-md-2.no-print.form-group
        = submit_tag 'Set Quantity', class: 'btn yellow', name: nil
  .row
    .col
      %table.table.table-bordered{ id: "list_item_tbl_#{@technology.id}" }
        %tbody
          %tr
            %th{ colspan: 5 } Components:
            %th Supplier
            %th.right-align # per:
            %th.right-align avail.
            %th.right-align need
          -# Components
          = render partial: 'assembly', collection: @assemblies.where(item_type: 'Component').ascending, locals: { nesting: 0 }
          %tr
            %th{ colspan: 5 } Parts:
            %th Supplier
            %th.right-align # per:
            %th.right-align avail.
            %th.right-align need
          -# Parts
          = render partial: 'assembly', collection: @assemblies.where(item_type: 'Part').ascending, locals: { nesting: 0 }
          -# Materials
          - if @materials.any?
            %tr
              %th{ colspan: 5 } Materials:
              %th Supplier
              %th.right-align # per:
              %th.right-align avail.
              %th.right-align need
          = render partial: 'material', collection:  @materials
  .row.no-print
    .col.right-align
      = link_to 'Back', technologies_path, class: 'btn blue'
