.label-new.label-4x2in
  .inner
    .half{ style: "background-image: url(#{rails_blob_url(@label.picture)}); background-size: contain;" }
    .half
      %p.title= @label.name
      %p.bold= @label.uid
      - unless @label.only_loose?
        %p Qty/#{@label.box_type}: #{@label.quantity_per_box}
      %p.desc= @label.description

