-# frozen_string_literal: true

.row
  .col-xs-12
    %h3 Select labels to print

  .row.tech-chooser
    .col-xs-2
      %h4 Select technologies to limit list:
    .col-xs-8
      .btn-group{ role: 'group' }
        - @tech_choices.each do |tech|
          .btn.btn-default.btn-sm
            = tech[1]
            = check_box_tag tech[0], 1, @techs&.pluck(:id)&.include?(tech[0]), { class: 'tech-checkbox' }
    .col-xs-2
      = form_tag labels_path, method: 'get', class: 'form-inline' do
        = text_field_tag 'techs', @techs&.pluck(:id).to_s.gsub(', ', ',').gsub('[', '').gsub(']', '')
        = submit_tag 'Submit', class: 'btn yellow btn-sm', name: nil, data: { disable_with: false }

= form_tag labels_select_path, method: 'post', class: 'form-inline labels_list_page' do
  .row.labels-check-btns
    .col-xs-12.right-align
      %a{ href: '#', class: 'btn blue btn-check', id: 'check_all' }
        %span.fa-stack
          = icon 'fas', 'check', class: 'fa-stack-1x'
          = icon 'far', 'square', class: 'fa-stack-2x'
        %span.bnt-text  all
      %a{ href: '#', class: 'btn blue btn-check', id: 'uncheck_all' }
        %span.fa-stack
          = icon 'fas', 'square', class: 'fa-stack-1x'
          = icon 'far', 'square', class: 'fa-stack-2x'
        %span.bnt-text  all
      = submit_tag 'Submit', class: 'btn blue btn-sm', name: nil, data: { disable_with: false }
  .row
    .col-xs-12
      %table.table.table-striped.datatable-label-chooser
        %thead
          %tr
            %th Item
            %th Print
            %th Select
        %tbody
          - @items.each do |i|
            %tr{ id: i[0] }
              %td #{i[0]}: #{i[1]}
              %td
                = link_to 'print', label_path(i[0]), target: '_blank'
              %td
                = check_box_tag i[0], 1, false, { class: 'label-checkbox' }
  .row
    .col-xs-12
      = submit_tag 'Submit', class: 'btn blue float-right', name: nil, data: { disable_with: false }

