-# frozen_string_literal: true
= form_tag labels_select_path, method: 'post', class: 'form-inline' do
  .row
    .col-xs-8
      %h3 Select labels to print
    .col-xs-4
      = submit_tag 'Submit', class: 'btn yellow float-right', name: nil, data: { disable_with: false }
  .row.labels-check-btns
    .col-xs-12.right-align
      %a{ href: '#', class: 'btn blue btn-check', id: 'check_all' }
        %span.fa-stack
          = icon 'fas', 'check', class: 'fa-stack-1x'
          = icon 'far', 'square', class: 'fa-stack-2x'
        %span.bnt-text  all
      %a{ href: '#', class: 'btn blue btn-check', id: 'uncheck_all' }
        %span.fa-stack
          = icon 'fas', 'square', class: 'fa-stack-1x'
          = icon 'far', 'square', class: 'fa-stack-2x'
        %span.bnt-text  all
  .row
    .col-xs-12
      %table.table.table-striped.datatable-label-chooser
        %thead
          %tr
            %th Item
            %th Print
            %th Select
        %tbody
          - @items.each do |i|
            %tr{ id: i[0] }
              %td #{i[0]}: #{i[1]}
              %td
                = link_to 'print', label_path(i[0]), target: '_blank'
              %td
                = check_box_tag i[0], 1, false, { class: 'label-checkbox' }
  .row
    .col-xs-12
      = submit_tag 'Submit', class: 'btn yellow float-right', name: nil, data: { disable_with: false }

