-# frozen_string_literal: true

#technologies_status.container
  .row
    .col-xs-12
      = form_tag technology_status_path(@technology), method: :get do
        = label_tag 'goal', 'Goal:'
        = number_field_tag 'goal', @goal
        = submit_tag 'Set Goal', name: nil, class: 'btn btn-sm yellow'
  .row
    .col-xs-12
      %table.table
        %thead
          %tr
            %th{ colspan: 7 } #{@technology.uid}: #{@technology.name} (#{@technology.available_count} available; #{@remaining_need} remaining)
            %th Goal: #{human_number @goal}
            %th.right-align Need
            %th.right-align Available
            %th.right-align Rem. Need (live)
            %th.right-align Rem. Need (calc'd)
        %tbody
          = render partial: 'assembly', collection: @assemblies, locals: { nesting: 0, remaining_need: @remaining_need }
