-# frozen_string_literal: true

:ruby
  techs  = count.tech_ids
  status = 'uncounted'
  status = 'counted' if count.user_id.present?
  status = 'partial' if (count.partial_box || count.partial_loose)

.count-wrapper.col-lg-3.col-md-4.col-sm-6.col-xs-12{ id: "count_#{count.id}", data: { status: status, techs: techs } }
  .count-div
    %p.count-title
      = count.name
    .half.count-img{ style: "background-image: url('#{count.item.picture}')" }
    .half
      %p.count-tech
        %strong.count-uid
          = count.item.uid
        %br/
        %strong.count-tech
          For: #{count.tech_names_short}
      - if count.user_id.present?
        %p.current-count
          %strong Avail:
          = count.available
    = link_to count.link_text, edit_inventory_count_path(count.inventory_id, count), remote: true, class: "count-btn btn #{count.link_class}"
