-# frozen_string_literal: true

-# techs && status are used by inventories.js's filter functions
:ruby
  item   = count.item
  techs  = item.all_technologies_ids
  status = 'uncounted'
  status = 'counted' if count.user_id.present?
  status = 'partial' if count.partial_box || count.partial_loose

.count-wrapper.col-lg-3.col-md-4.col-sm-6.col-xs-12{ id: "count_#{count.id}", data: { status: status, techs: techs } }
  .count-div
    %p.count-title
      = item.name
    .half.count-img{ style: "background-image: url('#{url_for item.picture}')" }
    .half
      %p.count-tech
        %strong.count-uid
          = item.uid
        %br/
        %strong.count-tech
          - if item.is_a? Technology
            (complete)
          - else
            For: #{item.all_technologies_names}
      - if count.user_id.present?
        %p.current-count
          %strong Avail:
          = count.available
    = link_to count.link_text, edit_inventory_count_path(count.inventory_id, count), remote: true, class: "count-btn btn #{count.link_class}"
