-# frozen_string_literal: true

- item = @count.item
- picture_url = item.picture.instance_of?(String) ? item.picture : rails_blob_url(item.picture)

#counts_edit.col-xs-12{ 'data-type': @inventory.type_for_params }
  .row
    .image.col-xs-6
      = image_tag picture_url
    .col-xs-6
      %p.title= item.uid_and_name
      - unless item.only_loose?
        %p Qty/#{item.box_type}: #{human_number item.quantity_per_box}
        - if item.box_notes.present?
          %p= item.box_notes
    .col-xs-12.col-sm-6
      %p.description= item.description
  .row
    %hr
    = simple_form_for [@inventory, @count], remote: true do |f|
      = f.error_notification
      - if item.only_loose?
        = render partial: 'edit_only_loose', locals: { f: f, item: item }
      - elsif @count.partial_loose?
        = render partial: 'edit_partial_loose', locals: { f: f, item: item }
      - elsif @count.partial_box?
        = render partial: 'edit_partial_box', locals: { f: f, item: item }
      - elsif @count.user_id.present?
        = render partial: 'edit_counted', locals: { f: f, item: item }
      - else # full form
        = render partial: 'edit_uncounted', locals: { f: f, item: item }

      .col-xs-12
        = f.submit 'Submit', class: 'btn yellow fullwidth'

  %button.btn.empty.fullwidth{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' } Back
