-# frozen_string_literal: true

.col-xs-12
  .row
    .col-xs-6
      = f.input :loose_count
    .col-xs-6
      = f.button :submit, name: 'partial_loose', value: 'Submit Loose Count', class: 'btn blue fullwidth btn-partial'
  .row
    .col-xs-12.expectation
      #previous_loose_count_parent.highlight.red.empty.float-right
        Previous:
        %span#previous_loose_count= item.loose_count
  .row
    .col-xs-6
      = f.input :unopened_boxes_count, label: "Unopened #{item.box_type}s: (#{human_number item.quantity_per_box} per #{item.box_type})"
    .col-xs-6
      = f.button :submit, name: 'partial_box', value: 'Submit Box Count', class: 'btn blue fullwidth btn-partial'
  .row
    .col-xs-12.right-align.expectation
      #previous_box_count_parent.highlight.red.empty.float-right
        Previous:
        %span#previous_box_count= item.box_count
