-# frozen_string_literal: true

.col-xs-12
  .row
    .col-xs-12
      = f.input :loose_count
  .row
    .col-xs-12.expectation
      #expected_loose_count_parent.highlight.red.empty.float-left
        Current:
        %span#expected_loose_count= @count.loose_count
      #previous_loose_count_parent.highlight.red.empty.float-right
        Previous:
        %span#previous_loose_count= item.loose_count
  .row
    .col-xs-12
      = f.input :unopened_boxes_count, label: "Unopened #{item.box_type}s: (#{human_number item.quantity_per_box} per #{item.box_type})"
  .row
    .col-xs-12.right-align.expectation
      #expected_box_count_parent.highlight.red.empty.float-left
        Current:
        %span#expected_box_count= @count.unopened_boxes_count
      #previous_box_count_parent.highlight.red.empty.float-right
        Previous:
        %span#previous_box_count= item.box_count
