<div class="container">
  <div class="row no-print">
    <div class="col-sm-8">
      <h3>Choose a Technology for a list of all items</h3>
    </div>
    <div class="col-sm-4 form-group" id="item_chooser">
      <%= select_tag "tech_select", options_from_collection_for_select(@technologies, "id", "name", @technology.id), class: "form-control" %>
    </div>
  </div>
</div>

<div class="container" id="item_list">
  <table class="table table-striped datatable-slim-nosort" id="inventory_show_table">
    <thead>
      <tr>
        <th data-priority="1">UID</th>
        <th data-priority="1">Item</th>
        <th></th>
        <th data-priority="2">For Tech</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @counts.each do |count| %>
        <tr>
          <td><%= count.item.uid %></td>
          <td><%= count.name %></td>
          <td class="center-align">
            <img src="<%= count.item.picture %>" class="table-img">
          </td>
          <td><%= count.tech_names_short %></td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
