<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://20liters.org">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if @print_navbar.present? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Home', root_path, class: "use-load-screen" %>
          </li>
          <li>
            <a id="print_btn" href="javascript:window.print()" alt="Print"><i class="fa fa-print"></i> Print</a>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <% if !current_page?('/events') && !current_page?(root_url) %>
            <li>
              <%= link_to 'Builds', root_path %>
            </li>
          <% end %>
          <% if !current_page?('/info') && !current_user.is_admin? %>
            <li>
              <%= link_to 'Info', info_path %>
            </li>
          <% end %>
          <% if current_user %>
            <% if current_user.can_do_inventory? %>
              <li><%= link_to 'Inventory', inventories_path, class: "use-load-screen" %></li>
            <% end %>
            <% if current_user.is_admin?   %>
              <li><%= link_to 'Technologies', '/technologies', class: "use-load-screen" %></li>
              <li><%= link_to 'Admin', '/admin', class: "use-load-screen" %></li>
              <li><%= link_to 'Reports', '/report', class: "use-load-screen" %></li>
            <% end %>
            <li><%= link_to "My Account", show_user_path(current_user), class: "use-load-screen" %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign In', user_session_path %></li>
          <% end %>
            <li><a class="btn btn-primary empty give-button" href="https://20liters.org/get-involved/#organize" class="use-load-screen">Give</a></li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
