<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if content_for? :fb_og %>
      <%= yield :fb_og %>
    <% end %>
    <%= render partial: "layouts/icons" %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% if params[:controller] == 'inventories' && (params[:action] == 'show' || params[:action] == 'edit') %>
      <title>20 Liters <%= @inventory.name_title %></title>
    <% elsif params[:controller] == 'events' && (params[:action] == 'poster') %>
      <title>20 Liters Event Poster</title>
    <% else %>
      <title>20 Liters</title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- dataTables Buttons & Responsive CDNs -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>
  </head>

  <body class="twentyliters" data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <%= render partial: 'layouts/navbar' %>
    <div id="load_screen" class="container fa-5x">
      <i class="fa fa-spinner fa-pulse" id="load_image"></i>
    </div>

    <% if current_page?('/events') || current_page?(root_url) %>
      <%= render partial: 'shared/hero' %>
    <% end %>

    <% if controller_name == 'inventories' %>
      <div class='container-full'>
    <% else %>
      <div class='container'>
    <% end %>
      <%= flash_messages %>
      <div class='row'>
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
