<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if content_for? :fb_og %>
      <%= yield :fb_og %>
    <% end %>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://20liters.org/wp-content/themes/twenty-liters/library/images/icons/favicon-128.png" sizes="128x128" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>20 Liters</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- dataTables Buttons & Responsive CDNs -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>

  </head>

  <body class="twentyliters">
    <%= render partial: 'layouts/navbar' %>
    <% if current_page?('/events') || current_page?(root_url) %>
      <% if current_user.nil? || !current_user.is_leader? %>
        <div class="hero-img collapse in" id="collapseHero">
          <h2>Want a custom build event for your group?</h2>
          <p>If you have a group of 6+ people we can schedule a build at your convenience.</p>
          <%= mail_to 'filterbuild@20liters.org', 'Email Us!', class: 'btn hero', subject: 'Request for custom build event' %>
          <a  class='btn hero collapse' role="button" data-toggle="collapse" href="#collapseHero" aria-expanded="true" aria-controls="collapseHero">No Thanks</a>
        </div>
      <% end %>
    <% end %>
    <div class='container'>
      <%= flash_messages %>
      <div class='row'>
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
